.left-panel-navi{
	width: 230px;
	background: #f1f1f1;
	position: fixed;
	bottom: 0;
	top: 0;
	border-right: 1px solid #ddd;

	.cl-logo{
		display: block;
		text-align: center;
		padding: 20px 0;
	}

	.course-name{
		display: block;
		font-weight: bold;
		padding: 0 15px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 16px;
	}
	.navi-listing{
		margin-top: 17px;
		border-top: 1px solid #ddd;

		ul{
			padding: 0;
			margin-top: 5px;

			li{
				a{
					padding: 8px 15px;
					display: block;
					color: #333;
					outline: none;

					&:hover{
						text-decoration: none;
						background-color: #ddd;
					}
					&.active{
						text-decoration: none;
						background-color: #ddd;
					}
				}
			}
		}
	}
}
.right-panel-details{
	left: 230px;
	// background: #ccc;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;

	.top-panel{
		width: 100%;
		background: #f1f1f1;
		border-bottom: 1px solid #f0f0f0;
		min-height: 50px;
		padding: 0px 30px 0 0;

		.search-wrapper{
			padding-top: 8px;
		}
	}
}
.nav-tabs,
.nav-pills {
	position: relative;
}
.main-content-wrapper{
	position: relative;
    float: left;
    width: 100%;
    margin-top: 20px;

    .nav-tabs{
    	padding-left: 15px;

		// .nav-item{
		// 	&.active{
		// 		&:after{
		// 			font-family: FontAwesome;
		// 			content: "\f0d7";
		// 			position: absolute;
		// 		    width: 98%;
		// 		    text-align: center;
		// 		    bottom: -13px;
		// 		}
		// 	}
		// }
    }
	.tab-content{
		right: 300px;
	    position: fixed;
	    left: 230px;
	    padding: 15px;
	    bottom: 0;
	    top: 112px;
	    overflow-y: auto;
	    border-right: 1px solid #ddd;

	    ul{
	    	padding: 0;

	    	li{
	    		list-style-type: none;
	    		display: block;
	    		margin-bottom: 1px;


	    // 		.child-lesson{
					// .lesson-row{
					// 	border-left: 0;
					// 	&:before{
					// 		display: none;
					// 	}
					// 	&:after{
					// 		display: none;
					// 	}
					// }
	    // 		}
	    	}
	    }
	    // .child-lesson>ul>.lesson-row, .child-lesson>.lesson-row>ul>li>.lesson-row{
	    .child-lesson ul .lesson-row{
			border-left: 0;
			padding-bottom: 0;
		
			&:before{
				display: none;
			}
			&:after{
				display: none;
			}	
		}
		.child-lesson>.lesson-row>ul>{
			background: #f1f1f1;
		}
		.child-lesson>.lesson-row>ul>li{
			margin-bottom: 0;
		}
		.child-lesson>.lesson-row>ul>li>.lesson-row{
			padding-bottom: 0!important;
		}
		.child-lesson>.lesson-row>ul>li>.lesson-row>.lesson-name{
			border-bottom: 1px solid #ccc;
		}
		.lesson-row {
			padding: 0 0 0 25px;
			position: relative;
			color: #333;
			border-left: 2px dotted #333;
			max-width: 98%;
	    	border-radius: 0;
	    	margin: 0 auto;

			.lesson-name{
				background: #f1f1f1;
				padding: 8px 15px;
			}
			
			&::before {
				// content: attr(date-is);
				position: absolute;
				left: -6px;
				font-weight: bold;
				top: 2em;
				display: block;
				content: '';
			}

			&::after {
				width: 10px;
				height: 10px;
				display: block;
				top: 1em;
				position: absolute;
				left: -6px;
				border-radius: 10px;
				content: '';
				border: 1px solid #333;
				background: white;
			}

			// &:last-child {
			// 	border-image: linear-gradient(
			// 		to bottom,
			// 		$border-color 60%,
			// 		rgba($border-color, 0)) 1 100%
			// 	;
			// }
		}
	}
	.right-column-wrapper{
	    width: 300px;
	    float: right;
	    right: 0;
	    bottom: 0;
	    top: 112px;
	    padding: 15px;
	    position: fixed;
	    overflow-y: auto;
	}
	
}

.navbar{
    border-radius: 0;
    box-shadow: none!important;
    z-index: 99999;
    position: fixed;
    width: 100%;
    top: 0;

    li>a#main-menu-a{
        font-size: 18px;
        padding-right: 5px;

        .caret{
            margin-left: 5px;
        }
    }
}
.icon-text-nav {
    >a {
        >i {
            font-size: 1.8rem;
        }
        .label {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
    a i {
            margin-right: 2px;
        }
    .dropdown-menu h4{
        padding: 5px 20px;
        font-size: 1.3rem;
        margin-bottom: 4px;
        color: #999;
        border-bottom: 1px solid #eee;
    }
}
.nav-profile-img
{
    a{
        background: transparent!important;
        padding-top: 10px!important;
        padding-bottom: 0!important;
    }
    img{
        float: left;
        display: block;
        height: 32px;
        width: 32px;
        margin: -1px 3px -1px 0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid transparent;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}