<!--=include ../common/header.html -->
<div class="setting-dashboard">
	<div class="left-navi-panel">
		<p class="ga-logo">
		  <a href="../dashboard.html"><img src="../../assets/img/commit-live-login.png" alt=""></a>
		</p>

		<div class="section-heading">
			Settings
		</div>
		<ul>
			<li>
				<a href="#" class="sidebar-btns selected" data-id="quiz">Quizzes</a>
			</li>
			<li>
				<a href="#" class="sidebar-btns selected" data-id="batch-listing">Batch List</a>
			</li>
			<li>
				<a href="#" class="sidebar-btns selected" data-id="student-listing">Students</a>
			</li>
			<li>
				<a href="#" class="sidebar-btns" data-id="lesson">Current Lesson</a>
			</li>
			<li>
				<a href="#" class="sidebar-btns" data-id="stud-status">Student Assigment Status</a>
			</li>			
			<li>
				<a href="#" class="course-manager" data-id="stud-status">Course Manager</a>
			</li>
		</ul>
		<div class="nav-side-menu">
		    <div class="brand">
		    	<a href="../dashboard.html"><img src="../../assets/img/commit-live-login.png" alt=""></a>
		    </div>
		    
		    <div class="menu-list">
		        <ul id="menu-content" class="menu-content collapse out">
		            <li >
		                <a href="#" class="sidebar-btns" data-id="quiz"><!-- <i class="fa fa-gift fa-lg"></i> --> Quizzes</a>
		            </li>
		            <li>
		                <a href="#" class="sidebar-btns" data-id="batch-listing"><!-- <i class="fa fa-gift fa-lg"></i> --> Batch List</a>
		            </li>
		            <li>
		                <a href="#" class="sidebar-btns" data-id="student-listing"><!-- <i class="fa fa-gift fa-lg"></i> --> Students</a>
		            </li>
		            <li data-toggle="collapse" data-target="#products" class="collapsed collapse-btn">
		                <a href="#"><!-- <i class="fa fa-gift fa-lg"></i> --> Batches <span class="arrow"></span></a>
		            </li>
		            <ul class="sub-menu collapse" id="products">
		                <li class="active"><a href="#" class="sidebar-btns" data-id="batch-may17">May 2017</a></li>
		                <li><a href="#" class="sidebar-btns" data-id="lesson">Aug 2017</a></li>
		                <li><a href="#" class="sidebar-btns" data-id="newbatch">June 2017</a></li>
		                <li><a href="#create-batch" class="sidebar-btns" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Create Batch</a></li>

		                <!-- <li><a href="#" class="sidebar-btns" data-id="lesson">Aug 2017</a></li> -->
		            </ul>
		            <li class="active">
		                <a href="#" class="sidebar-btns" data-id="stud-status"> Student Assignments</a>
		            </li>
		            <li>
		                <a href="#" class="sidebar-btns" data-id="stud-quiz-status"> Student Quiz</a>
		            </li>
		            <li>
		                <a href="#" class="sidebar-btns" data-id="course-manager"> Course Manager</a>
		            </li>
		        </ul>
		    </div>
		</div>
	</div>
	<div class="setting-right-panel" id="main">
		<div class="top-navi">
			<span class="heading">Instructor Dashboard</span>
			<a href="instructor-login.html" class="btn btn-default btn-sm pull-right">Logout</a>
		</div>
		<div class="content-wrapper">
			<div class="display-content" id="quiz">
				<div class="quiz-list">
					<h4>Quizzes List <a href="#" class="btn btn-default btn-sm btn-primary">Create Quiz</a></h4>
					<ul>
						<li>
							<a href="#">Python Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Python Basic Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Mathematics Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Python Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Python Basic Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Mathematics Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Python Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Python Basic Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Mathematics Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Python Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
						<li>
							<a href="#">Python Basic Quiz <span class="btns-quiz"><i class="fa fa-eye" data-toggle="tooltip" data-placement="bottom" title="View Quiz"></i> <i class="fa fa-globe" data-toggle="modal" data-target="#quiz-live" title="Shoot a Quiz"></i></span></a>
						</li>
					</ul>
				</div>

				<!-- Create quiz starts -->
				<h4>Create Quiz</h4>
				<div class="dropdown">
				    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Add question <span class="caret"></span>
				    </button>
				    <ul class="dropdown-menu" role="menu">
				        <li><a href="#consumergoods" data-toggle="modal">Checkbox</a></li>
				        <li><a href="#consumergoods" data-toggle="modal">Radio</a></li>
				    </ul>
				</div>
				<div class="quiz-content">
					<div class="quiz-row">
						<h4 class="question">1. What does HTML stands for?</h4>
						<form>
							<div class="radio">
								<label>
									<input type="radio" name="opt"> Hyperlinks and Text Markup Language
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="opt" /> Hyper Text Markup Language
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="opt" /> Home Tool Markup Language
								</label>
							</div>
						</form>
					</div>

					<div class="quiz-row">
						<h4 class="question">2. Who is making the Web standards?</h4>
						<form>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="opt"> Google
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="opt"> Microsoft
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="opt"> Mozilla
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="opt"> The World Wide Web Consortium
								</label>
							</div>
						</form>
					</div>

					<div class="quiz-row">
						<h4 class="question">3. Select correct image</h4>
						<form>
							<div class="checkbox">
								<div class="quiz-inner">
									<label>
										<input type="checkbox" name="opt1"> <img src="assets/img/code-img-opt.png" />
									</label>
								</div>
								<div class="quiz-inner">
									<label>
										<input type="checkbox" name="opt2"> <img src="assets/img/code-img-opt.png" />
									</label>
								</div>
								<div class="quiz-inner">
									<label>
										<input type="checkbox" name="opt3"> <img src="assets/img/code-img-opt.png" />
									</label>
								</div>
								<div class="quiz-inner">
									<label>
										<input type="checkbox" name="opt4"> <img src="assets/img/code-img-opt.png" />
									</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<!-- Create quiz ends -->
			</div>

			<div class="display-content" id="batch-listing">
				<div class="row heading-row">
					<div class="col-sm-5">
						<h3>Batch Listing</h3>		
					</div>
					<div class="col-sm-7 right-col">
						<div class="row">
							<div class="col-sm-8 search-component">
								<input type="text" name="searchStudent" class="form-control" placeholder="Batch Name, Type, Status" />
							</div>
							<div class="col-sm-4">
								<!-- <button class="btn btn-success btn-md">Add New Batch</button> -->
								<a href="#create-batch" data-toggle="modal" class="btn btn-success btn-md">Create New Batch</a>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-striped table-bordered">
				    <thead>
				        <tr>
				            <th width="40%">Batch Name</th>
				            <th>Type</th>
				            <th>Status</th>
				            <th>Manage</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>May 2017 Summer</td>
				            <td>Weekend</td>
				            <td>Completed</td>
				            <td>
				            	<button class="btn btn-primary btn-sm">Batch</button>
				            	<button class="btn btn-primary btn-sm">Program</button>
				            	<button class="btn btn-primary btn-sm">Students</button>
				            </td>
				        </tr>
				        <tr>
				            <td>June 2017 Summer</td>
				            <td>Weekend</td>
				            <td>Pursuing</td>
				            <td>
				            	<button class="btn btn-primary btn-sm">Batch</button>
				            	<button class="btn btn-primary btn-sm">Program</button>
				            	<button class="btn btn-primary btn-sm">Students</button>
				            </td>
				        </tr>				        
				        <tr>
				            <td>July 2017 Winter</td>
				            <td>Weekday</td>
				            <td>Pursuing</td>
				            <td>
				            	<button class="btn btn-primary btn-sm">Batch</button>
				            	<button class="btn btn-primary btn-sm">Program</button>
				            	<button class="btn btn-primary btn-sm">Students</button>
				            </td>
				        </tr>
				        <tr>
				            <td>October 2017 Winter</td>
				            <td>Weekend</td>
				            <td>Upcoming</td>
				            <td>
				            	<button class="btn btn-primary btn-sm">Batch</button>
				            	<button class="btn btn-primary btn-sm">Program</button>
				            	<button class="btn btn-primary btn-sm">Students</button>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>

			<div class="display-content" id="student-listing">
				<div class="row heading-row">
					<div class="col-sm-5">
						<h3>Student Listing</h3>		
					</div>
					<div class="col-sm-7 right-col">
						<div class="row">
							<div class="col-sm-8 search-component">
								<input type="text" name="searchStudent" class="form-control" placeholder="Name, Batch, Email Address" />
							</div>
							<div class="col-sm-4">
								<a href="#enroll-student" data-toggle="modal" class="btn btn-success btn-md">Enroll New Student</a>
							</div>
						</div>
					</div>
				</div>				
				
				<table class="table table-striped table-bordered">
				    <thead>
				        <tr>
				            <th width="30%">Student Name</th>
				            <th>Batch</th>
				            <th>Email Address</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>Rogger Scott</td>
				            <td>July 2017</td>
				            <td>rogger@roggerscott.com</td>
				        </tr>
				        <tr>
				            <td>Bruce Jones</td>
				            <td>
				            	<!-- <button class="btn btn-primary btn-sm">Add to Batch</button> -->
				            	<a href="#add-to-batch" data-toggle="modal" class="btn btn-primary btn-sm">Add to Batch</a>
				            </td>
				            <td>brucenjones@armyspy.com</td>
				        </tr>
				        <tr>
				            <td>David Bishop</td>
				            <td>August 2017</td>
				            <td>davidrbishop@teleworm.us</td>
				        </tr>
				        <tr>
				            <td>James Giles</td>
				            <td>August 2017</td>
				            <td>jamesmgiles@teleworm.us</td>
				        </tr>
				    </tbody>
				</table>
			</div>

			<div class="display-content" id="lesson">
				<h4>Current Lesson <!-- <a href="instructor-login.html" class="btn btn-sm btn-primary">Create Quiz</a> --></h4>
				<ul>
					<li><a href="#">Mathematics Quiz</a></li>
					<li><a href="#">Python Quiz</a></li>
					<li><a href="#">Python Basic Quiz</a></li>
				</ul>
				<select class="selectpicker" data-show-subtext="true" data-live-search="true">
			        <option data-subtext="Rep California">Tom Foolery</option>
			        <option data-subtext="Sen California">Bill Gordon</option>
			        <option data-subtext="Sen Massacusetts">Elizabeth Warren</option>
			        <option data-subtext="Rep Alabama">Mario Flores</option>
			        <option data-subtext="Rep Alaska">Don Young</option>
			        <option data-subtext="Rep California" disabled="disabled">Marvin Martinez</option>
			      </select>
			</div>

			<div class="display-content" id="batch-may17">
				<h3>Batch - May 2017</h3>
				<div class="sel-current-batch">
						<div class="pull-left">
							<b>Current Lesson:</b> <u>Python Basic Introduction</u>
						</div>
						<div class="chnge-current-lesson-btn">
							<a href="#change-current-lesson" data-toggle="modal" class="btn btn-sm btn-primary">Change Current Lesson</a>	
						</div>
						<!-- <div class="col-sm-6">
							<select class="form-control js-example-basic-single">
				  				<option value="current-batch">Current Batch</option>
				  				<option value="m17">May 2017</option>
							    <option value="aug17">August 2017</option>
							    <option value="oct17">October 2017</option>
							</select>
						</div> -->
				</div>
				<table class="table table-striped table-bordered">
				    <thead>
				        <tr>
				            <th>ID</th>
				            <th>Student's Name</th>
				            <th>Email</th>
				            <th>BitBucket URL</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>GA11001</td>
				            <td>John Carter</td>
				            <td>johncarter@mail.com</td>
				            <td><a href="#" targer="blank">https://bitbucket.org/johncarter/</a></td>
				        </tr>
				        <tr>
				            <td>GA11002</td>
				            <td>Peter Parker</td>
				            <td>peterparker@mail.com</td>
				            <td><a href="#" targer="blank">https://bitbucket.org/peterparker/</a></td>
				        </tr>
				        <tr>
				            <td>GA11003</td>
				            <td>John Rambo</td>
				            <td>johnrambo@mail.com</td>
				            <td><a href="#" targer="blank">https://bitbucket.org/johnrambo/</a></td>
				        </tr>
				    </tbody>
				</table>
				
				<div class="course-top-bar course-top-bar-details">
					<a href="instructor-login.html" class="btn btn-default btn-sm pull-left"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a> 
					<h3 class="course-heading">Course Content</h3>
					<!-- Split button -->
					<div class="btn-group pull-right">
					  <button type="button" class="btn btn-default">Take a Quiz</button>
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><a href="#">Quiz 1</a></li>
					    <li><a href="#">Quiz 2</a></li>
					    <li><a href="#">Quiz 3</a></li>
					  </ul>
					</div>
				</div>
				<!--=include ../common/course-content.html -->
			</div>

			<div class="display-content" id="newbatch">
				<h3>Batch - June 2017</h3>
				<div class="sel-current-batch">
					<a href="#add-student" data-toggle="modal" class="btn btn-sm btn-primary">Add Student</a>
				</div>
				<table class="table table-striped table-bordered">
				    <thead>
				        <tr>
				            <th>First Name</th>
				            <th>Last Name</th>
				            <th>Email</th>
				            <th>Status</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr>
				            <td>John</td>
				            <td>Carter</td>
				            <td>johncarter@mail.com</td>
				            <td><a href="#" class="btn btn-sm btn-success">Send Request</a></td>
				        </tr>
				        <tr>
				            <td>Peter</td>
				            <td>Parker</td>
				            <td>peterparker@mail.com</td>
				            <td>Subscribed</td>
				        </tr>
				        <tr>
				            <td>John</td>
				            <td>Rambo</td>
				            <td>johnrambo@mail.com</td>
				            <td><a href="#" class="btn btn-sm btn-success">Send Request</a></td>
				        </tr>
				    </tbody>
				</table>
			</div>

			<!-- Student Assignment Completion Status -->
			<div class="display-content" id="stud-status">
				<h3>Student Assignment Completion Status</h3>
				<div class="student-status">
					<p>Select Batch and Track to view status</p>
					<div class="col-sm-4">
						<select class="form-control js-example-basic-single">
						  	<option value="selectbatch"><b>---Select Batch---</b></option>
						  	<option value="may17mum">Data Science May 2017 - Mumbai</option>
						  	<option value="jun17mum">Data Science June 2017 - Mumbai</option>						    
						</select>
					</div>
					<div class="col-sm-4">
						<select class="form-control js-example-basic-single">
						  	<option value="m17">--Select Track---</option>
						    <option value="commitLive">Commit Live</option>
						    <option value="techBasic">Tech Basics</option>
						    <option value="pythonBasic">Python Basics</option>
						    <option value="pythonIntermediate">Python Intermediate</option>
						    <option value="pythonAdvance">Python Advace</option>
						</select>
					</div>
				</div>
				<!-- Before selecting the values from dropdown -->
				<div class="no-assignment-data" style="display: none">Select Batch and Track from the dropdown to view status</div>
				<div class="student-status-table">
					<table class="table table-striped table-bordered table-fixed">
					    <thead>
					        <tr>
					            <th width="20%">Student Name</th>
					            <th width="20%">Github ID</th>
					            <th width="8%">Completed</th>
					            <th width="8%">Pending</th>
					            <th width="8%">Total</th>
					            <th width="8%">%</th>
					        </tr>
					    </thead>

					    <tbody>
					        <tr>
					            <td width="20%">Sanket Bhatt</td>
					            <td width="20%">sankbhatt</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">100%</td>
					        </tr>
					        <tr>
					            <td width="20%">Nikhil Akki</td>
					            <td width="20%">nikhilakki</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">100%</td>
					        </tr>
					        <tr>
					            <td width="20%">Mudassir Khan</td>
					            <td width="20%">mudassirkhan19</td>
					            <td width="8%" class="text-right">0</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">0%</td>
					        </tr>
					        <tr>
					            <td width="20%">Sanket Bhatt</td>
					            <td width="20%">sankbhatt</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">100%</td>
					        </tr>
					        <tr>
					            <td width="20%">Nikhil Akki</td>
					            <td width="20%">nikhilakki</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">100%</td>
					        </tr>
					        <tr>
					            <td width="20%">Mudassir Khan</td>
					            <td width="20%">mudassirkhan19</td>
					            <td width="8%" class="text-right">0</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">0%</td>
					        </tr>
					        <tr>
					            <td width="20%">Sanket Bhatt</td>
					            <td width="20%">sankbhatt</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">100%</td>
					        </tr>
					        <tr>
					            <td width="20%">Nikhil Akki</td>
					            <td width="20%">nikhilakki</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">100%</td>
					        </tr>
					        <tr>
					            <td width="20%">Mudassir Khan</td>
					            <td width="20%">mudassirkhan19</td>
					            <td width="8%" class="text-right">0</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">0%</td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>

			<!-- Student Quiz Completion Status -->
			<div class="display-content" id="stud-quiz-status">
				<h3>Student Quiz Completion Status</h3>
				<div class="student-status">
					<p>Select Batch and Quiz to view status</p>
					<div class="col-sm-4">
						<select class="form-control js-example-basic-single">
						  	<option value="selectbatch"><b>---Select Batch---</b></option>
						  	<option value="may17mum">Data Science May 2017 - Mumbai</option>
						  	<option value="jun17mum">Data Science June 2017 - Mumbai</option>						    
						</select>
					</div>
					<div class="col-sm-4">
						<select class="form-control js-example-basic-single">
						  	<option value="m17">--Select Quiz---</option>
						    <option value="commitLive">Commit Live</option>
						    <option value="techBasic">Tech Basics</option>
						    <option value="pythonBasic">Python Basics</option>
						    <option value="pythonIntermediate">Python Intermediate</option>
						    <option value="pythonAdvance">Python Advace</option>
						</select>
					</div>
				</div>
				<!-- Before selecting the values from dropdown -->
				<div class="no-assignment-data" style="display: none">Select Batch and Quiz from the dropdown to view status</div>
				<div class="student-status-table">
					<table class="table table-striped table-bordered table-fixed">
					    <thead>
					        <tr>
					            <th width="20%">Student Name</th>
					            <th width="20%">Github ID</th>
					            <th width="8%">Completed</th>
					            <th width="8%">Total</th>
					            <th width="8%">Average</th>
					        </tr>
					    </thead>

					    <tbody>
					        <tr>
					            <td width="20%">Sanket Bhatt</td>
					            <td width="20%">sankbhatt</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">45</td>
					        </tr>
					        <tr>
					            <td width="20%">Nikhil Akki</td>
					            <td width="20%">nikhilakki</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">85</td>
					        </tr>
					        <tr>
					            <td width="20%">Mudassir Khan</td>
					            <td width="20%">mudassirkhan19</td>
					            <td width="8%" class="text-right">0</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">30</td>
					        </tr>
					        <tr>
					            <td width="20%">Sanket Bhatt</td>
					            <td width="20%">sankbhatt</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">54</td>
					        </tr>
					        <tr>
					            <td width="20%">Nikhil Akki</td>
					            <td width="20%">nikhilakki</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">90</td>
					        </tr>
					        <tr>
					            <td width="20%">Mudassir Khan</td>
					            <td width="20%">mudassirkhan19</td>
					            <td width="8%" class="text-right">0</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">36</td>
					        </tr>
					        <tr>
					            <td width="20%">Sanket Bhatt</td>
					            <td width="20%">sankbhatt</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">42</td>
					        </tr>
					        <tr>
					            <td width="20%">Nikhil Akki</td>
					            <td width="20%">nikhilakki</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">1</td>
					            <td width="8%" class="text-right">84</td>
					        </tr>
					        <tr>
					            <td width="20%">Mudassir Khan</td>
					            <td width="20%">mudassirkhan19</td>
					            <td width="8%" class="text-right">0</td>
					            <td width="8%" class="text-right">2</td>
					            <td width="8%" class="text-right">60</td>
					        </tr>
					    </tbody>
					</table>
				</div>
			</div>

			<!-- Course Manager -->
			<div class="display-content" id="course-manager">
				<div class="row heading-row">
					<div class="col-sm-5">
						<h3>Course Manager</h3>		
					</div>
					<!-- <div class="col-sm-7 right-col">
						<div class="row">
							<div class="col-sm-8 search-component">
								<input type="text" name="searchStudent" class="form-control" placeholder="Batch Name, Type, Status" />
							</div>
							<div class="col-sm-4">
								<a href="#create-batch" data-toggle="modal" class="btn btn-success btn-md">Create New Batch</a>
							</div>
						</div>
					</div> -->
				</div>
				<div class="course-manager">
					<div class="cm-left-column">
						<div class="search-track">
							<input type="text" class="form-control" name="search-track" placeholder="Search Tracks...">
						</div>
						<button type="button" class="btn btn-primary btn-sm btn-block" style="border-radius: 0;"><i class="fa fa-plus"></i> Add Track</button>
						<div class="course-track">
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Python Basics </div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Tech Basics</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Intro to Tech Basics </div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Github</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Intro to Github</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Setup Github</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Commit.Live</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">SQL</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Intro to RDBMS</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Setup Workbench</div>
								</label>
							</div>
							<div class="track-row">
								<label>
									<input type="checkbox" name="track" /> 
									<div class="track-name">Transactions</div>
								</label>
							</div>
						</div>
					</div>
					<!-- <div class="tracks-controls">
						<i class="fa fa-arrow-right"></i><br />
						<i class="fa fa-arrow-left"></i>
					</div> -->
					<div class="cm-right-column">
						<div class="header-row">
							<h4 class="header-title">Curriculum</h4>

							<div class="pull-right">
								<a href="#" class="btn btn-xs btn-success">Add Module</a>
							</div>
						</div>
						<div class="manage-course">
							<div class="panel-group" id="accordion">
								<!-- Panel 1 -->
								<div class="panel panel-default">
								  <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
								  <div class="panel-heading">Foundation
								  	<div class="btn-group">
										<a  class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-plus"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li><a href="#">Add Section</a></li>
										</ul>
									</div>
								  </div>
								  </div>

								  <div id="collapseOne" class="panel-collapse collapse in">
								  <div class="panel-body">
								    <div class="module-wrapper">
										<!-- <div class="heading-row">
											<h5 class="module-name">Foundation</h5> 
											<div class="btn-group">
												<button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-plus"></i>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Add Section</a></li>
													<li><a href="#">Add Chapter</a></li>
													<li><a href="#">Add Lesson</a></li>
												</ul>
											</div>
											<i class="fa fa-caret-down collapse-wrapper"></i>
										</div> -->
										<div class="sub-module">
											<div class="sub-module-heading">Refresher and Launch
												<div class="btn-group">
													<button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-plus"></i>
													</button>
													<ul class="dropdown-menu">
														<li><a href="#">Add Chapter</a></li>
														<li><a href="#">Add Lesson</a></li>
													</ul>
												</div>
												<!-- <button class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
												  <i class="fa fa-plus-circle"></i>
												</button>
												<div class="collapse" id="collapseExample">
												  <input type="text" class="form-control" name="">
												</div> -->
											</div>
											<ul class="module-content">
												<li class="reader">
													Introduction to Data Science <i class="fa fa-plus"></i>
													<div class="lesson-delete">
														<i class="fa fa-trash-o"></i>
													</div>
												</li>
												<li class="chapter">
												Python Basics <i class="fa fa-plus"></i>
													<ul>
														<li class="ty-code">Find all the even numbers between 1 to 0</li>		
														<li class="ty-code">Generate Fibonacci sequence upto 10</li>		
													</ul>
													<div class="lesson-delete">
														<i class="fa fa-trash-o"></i>
													</div>
												</li>
													
												<li class="blog-medium">
												Write blog on Python
												</li>
												<li>
													<input type="text" class="form-control" name="">
												</li>
											</ul>
										</div>
									</div>
								  </div>
								  </div>
								</div>

								<!-- Panel 2 -->
								<div class="panel panel-default">
								  <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
								  <div class="panel-heading">Big Data
								  	<div class="btn-group">
										<a  class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="fa fa-plus"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li><a href="#">Add Section</a></li>
										</ul>
									</div>
								  </div>
								  </div>

								  <div id="collapseTwo" class="panel-collapse collapse">
								  <div class="panel-body">
								    <div class="module-wrapper">
										<!-- <div class="heading-row">
											<h5 class="module-name">Foundation</h5> 
											<div class="btn-group">
												<button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												<i class="fa fa-plus"></i>
												</button>
												<ul class="dropdown-menu">
													<li><a href="#">Add Section</a></li>
													<li><a href="#">Add Chapter</a></li>
													<li><a href="#">Add Lesson</a></li>
												</ul>
											</div>
											<i class="fa fa-caret-down collapse-wrapper"></i>
										</div> -->
										<div class="sub-module">
											<div class="sub-module-heading">Refresher and Launch
												<div class="btn-group">
													<button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-plus"></i>
													</button>
													<ul class="dropdown-menu">
														<li><a href="#">Add Chapter</a></li>
														<li><a href="#">Add Lesson</a></li>
													</ul>
												</div>
												<!-- <button class="btn btn-primary btn-xs" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
												  <i class="fa fa-plus-circle"></i>
												</button>
												<div class="collapse" id="collapseExample">
												  <input type="text" class="form-control" name="">
												</div> -->
											</div>
											<ul class="module-content">
												<li class="reader">
													Introduction to Data Science <i class="fa fa-plus"></i>
													<div class="lesson-delete">
														<i class="fa fa-trash-o"></i>
													</div>
												</li>
												<li class="chapter">
												Python Basics <i class="fa fa-plus"></i>
													<ul>
														<li class="ty-code">Find all the even numbers between 1 to 0</li>		
														<li class="ty-code">Generate Fibonacci sequence upto 10</li>		
													</ul>
													<div class="lesson-delete">
														<i class="fa fa-trash-o"></i>
													</div>
												</li>
													
												<li class="blog-medium">
												Write blog on Python
												</li>
												<div class="btn btn-sm btn-success pull-right">
													<i class="fa fa-plus"></i> Add Lesson
												</div>												
											</ul>
										</div>
									</div>
								  </div>
								  </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div id="consumergoods" class="modal fade" role="dialog" data-target="#consumergoods">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add question</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">Question</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="question" placeholder="Enter Question">
				</div>
			</div>
	    	<div class="form-group">
	    		<label for="opt1" class="col-sm-2 control-label">Option 1</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="options" placeholder="Option 1"> 
					<div class="add-remove-btns">
						<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> 
						<a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="opt2" class="col-sm-2 control-label">Option 2</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="options" placeholder="Option 2"> 
					<div class="add-remove-btns">
						<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> 
						<a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i></a> 
						<a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="opt2" class="col-sm-2 control-label">Option 3</label>
				<div class="col-sm-10">
					<div class="fileinput fileinput-new" data-provides="fileinput" style="max-width: 75%; display: inline-block">
					  <div class="fileinput-preview thumbnail" data-trigger="fileinput"><img src="assets/img/code-img-opt.png"></div>
					  <div>
					    <a href="#" class="btn btn-sm btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
					    <span class="btn btn-sm btn-success btn-file">Browse</span><!-- <span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span> -->
					  </div>
					</div>
					<!-- <img src="assets/img/code-img-opt.png" style="max-width: 75%;"> -->
					<!-- <input type="file" id="options"> -->
					<div class="add-remove-btns">
						<a href="#"><i class="fa fa-plus-circle" aria-hidden="true"></i></a> 
						<a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i></a> 
						<a href="#"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Quiz Live -->
<div class="modal fade quiz" id="quiz-live" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Shoot a Quiz</h4>
      </div>
      <div class="modal-body">
      	<p>Select the batch</p>
		<!-- <select class="form-control">
		    <option value="m17">May 2017</option>
		    <option value="aug17">August 2017</option>
		    <option value="oct17">October 2017</option>
		</select> -->
		<select class="form-control js-example-basic-single">
		  	<option value="m17">May 2017</option>
		    <option value="aug17">August 2017</option>
		    <option value="oct17">October 2017</option>
		</select>
		<p class="text-warning field-validation">Quiz is already LIVE for batch <b>May 2017</b></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Make live</button>
      </div>
    </div>
  </div>
</div>

<!--change current lesson modal-->
<div class="modal fade" id="change-current-lesson" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change current lesson</h4>
      </div>
      <div class="modal-body">
      	<p>Select current lesson</p>
      	<ul class="dropdown-menu top-expand-menu modal-change-lesson">
          <!-- start chap 1 -->
            <li>
              <a data-toggle="collapse" href="#collapse-1-1" class="completed">
                <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                 <span class="label-text">Intro to GreyAtom</span>
                <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
              </a>
              <ul id="collapse-1-1" class="list-group panel-collapse collapse">
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse2" class="completed">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Welcome to GreyAtom</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse2" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                    	<button type="button" class="btn btn-default" data-dismiss="modal">Take Lesson</button>
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">The Learn Philosophy</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Navigating Curriculum On GreyAtom</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Asking A Question</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Study Groups</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse3" class="completed">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Using a Shell</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse3" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Intro to the Shell</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Navigating with BASH</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">The GreyAtom IDE</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Solving Labs on Learn</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse4" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Solving Labs on GreyAtom</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse4" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Git + Github + GreyAtom</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">GreyAtom Workflow</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">First Lab</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- End chap 1 -->
             <!-- start chap 2 -->
            <li>
              <a data-toggle="collapse" href="#collapse-2-1" class="active">
                <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                 <span class="label-text">Introduction to JavaScript</span>
                <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
              </a>
              <ul id="collapse-2-1" class="list-group panel-collapse collapse">
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse2" class="completed">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Welcome to GreyAtom</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse2" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">The Learn Philosophy</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Navigating Curriculum On GreyAtom</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Asking A Question</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Study Groups</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse3" class="completed">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Using a Shell</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse3" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Intro to the Shell</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Navigating with BASH</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">The GreyAtom IDE</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Solving Labs on Learn</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse4" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Solving Labs on GreyAtom</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse4" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Git + Github + GreyAtom</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">GreyAtom Workflow</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">First Lab</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- End chap 2 -->
             <!-- start chap 3 -->
            <li>
              <a data-toggle="collapse" href="#collapse-3-1">
                <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                 <span class="label-text">Functions</span>
                <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
              </a>
              <ul id="collapse-3-1" class="list-group panel-collapse collapse">
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse2">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Welcome to GreyAtom</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse2" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">The Learn Philosophy</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Navigating Curriculum On GreyAtom</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Asking A Question</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Study Groups</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse3">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Using a Shell</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse3" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Intro to the Shell</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Navigating with BASH</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">The GreyAtom IDE</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Solving Labs on Learn</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a data-toggle="collapse" href="#collapse4" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Solving Labs on GreyAtom</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse4" class="list-group panel-collapse collapse">
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Git + Github + GreyAtom</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">GreyAtom Workflow</span>
                      </a>
                    </li>
                    <li class="list-group-item">
                        <a href="#">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">First Lab</span>
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- End chap 3 -->
          </ul>
		<!-- <select class="form-control">
		    <option value="m17">May 2017</option>
		    <option value="aug17">August 2017</option>
		    <option value="oct17">October 2017</option>
		</select> -->
		<!-- <select class="form-control js-example-basic-single">
		  	<option value="py1">Python Basic</option>
		    <option value="py2">Solving Labs on GreyAtom</option>
		    <option value="py3">Python Programming</option>
		    <option value="py4">Functions and Scope</option>
		    <option value="py5">Using a Shell</option>
		</select> -->
		<p class="text-warning field-validation">This is already a current lesson</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="create-batch" class="modal fade" role="dialog" data-target="#create-batch">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create batch</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
				<label for="inputEmail3" class="col-sm-3 control-label">Batch Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Enter Batch Name">
				</div>
			</div>
			<div class="form-group">
				<label for="startdate" class="col-sm-3 control-label">Start Date</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Start Date">
				</div>
			</div>
			<div class="form-group">
				<label for="batchstatus" class="col-sm-3 control-label">Status</label>
				<div class="col-sm-9">
					<select class="form-control">
						<option>Upcoming</option>
						<option>Pursuing</option>
						<option>Completed</option>
					</select>
				</div>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="add-student" class="modal fade" role="dialog" data-target="#add-student">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Student</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
				<label for="fName" class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Enter Your Name">
				</div>
			</div>
			<div class="form-group">
				<label for="lName" class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Enter Your Last Name">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">Email ID</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Enter Your Email ID">
				</div>
			</div>
			<div class="form-group">
				<label for="sendRequest" class="col-sm-3 control-label">Send Request</label>
				<div class="col-sm-9">
					<input type="checkbox" name="">
				</div>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Enroll New Student-->
<div id="enroll-student" class="modal fade" role="dialog" data-target="#add-to-batch">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Enroll New Student</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
				<label for="fName" class="col-sm-3 control-label">First Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Enter First Name">
				</div>
			</div>
			<div class="form-group">
				<label for="lName" class="col-sm-3 control-label">Last Name</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Enter Last Name">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label">Email ID</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" id="question" placeholder="Enter Email ID">
				</div>
			</div>
			<div class="form-group">
				<label for="selBatch" class="col-sm-3 control-label">Select Batch</label>
				<div class="col-sm-9 enroll-student">
					<select class="form-control js-example-basic-single">
					  	<option>June 2017</option>
						<option>July 2017</option>
						<option>August 2017</option>
						<option>October 2017</option>
					</select>
				</div>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Enroll</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Add New Student to Batch-->
<div id="add-to-batch" class="modal fade" role="dialog" data-target="#enroll-student">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Student to Batch</h4>
      </div>
      <div class="modal-body">
        <form>
        	<div class="form-group">
				<label for="select-batch">Select Batch</label>
				<!-- <select class="form-control">
					<option>June 2017</option>
					<option>July 2017</option>
					<option>August 2017</option>
					<option>October 2017</option>
				</select> -->
				<select class="form-control js-example-basic-single">
				  	<option>June 2017</option>
					<option>July 2017</option>
					<option>August 2017</option>
					<option>October 2017</option>
				</select>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
<!--=include ../common/footer.html -->