.setting-dashboard{
	display: block;
	float: left; 

	p.ga-logo{
		text-align: center;
		margin-bottom: 25px;
		img{
			width: 100px;	
		}
	}

	.left-navi-panel{
		width: 200px;
		background: #333;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		padding: 15px 0;
		color: #fff;

		.section-heading{
			padding: 5px 15px;
			color: #fff;
			font-weight: bold;
			background: #434343;
		}

		ul{
			padding: 0;
			li{
				list-style-type: none;

				a{
					padding: 5px 20px;
					color: #ddd;
					display: block;

					&:hover{
						background: #4d4d4d;
						display: block;
						text-decoration: none;
					}
					&.selected{
						background: #4d4d4d;
						text-decoration: none;
					}
				}
			}
		}
	}
	.setting-right-panel{
		position: absolute;
		left: 200px;

		.top-navi{
			position: fixed;
			background: #f1f1f1;
			box-shadow: 0 0px 5px #ccc;
			z-index: 1;
			left: 200px;
			right: 0;
			min-height: 40px;
			padding: 8px 25px;

			.heading{
				font-weight: bold;
				font-size: 14px;
				margin-top: 5px;
				position: relative;
				display: inline-block;
			}
		}

		.content-wrapper{
		    position: fixed;
		    overflow-y: auto;
		    right: 0;
		    left: 200px;
		    top: 46px;
		    bottom: 0;
		    padding: 25px;

		    .quiz-list{
		    	ul{
		    		margin: 15px 0 0 0;
		    		padding: 0;
		    		li {
		    			list-style-type: none;
		    			
		    			a{
			    			display: block;
			    			margin-bottom: 2px;
			    			padding: 8px 10px 8px 0;
			    			border: 1px solid #f1f1f1;
			    			background: #f1f1f1;

			    			&:before {
							  font-family: FontAwesome;
							  content: "\f059";
							  display: inline-block;
							  padding-left: 10px;
							  padding-right: 10px;
							  // float: left;
							  color: #333;
							}
							&:focus{
								text-decoration: none;
							}

			    			&:hover{
			    				border: 1px solid #e3e3e3;
			    				text-decoration: none;

			    				.btns-quiz{
			    					display: block;
			    					float: right;
			    					font-size: 18px;

			    					.fa{
			    						margin-left: 10px;
			    					}
			    				}
			    			}
			    			.btns-quiz{
		    					display: none;
		    				}
			    		}
		    		}
		    	}
		    }

		    .quiz-content{
		    	padding: 0 40px;
		    	.quiz-row{
		    		margin: 25px 0;

		    		.question{
		    			margin-bottom: 15px;
		    		}

		    		.quiz-inner{
		    			// max-width: 300px;
		    			display: inline-block;
		    			border: 1px solid #f1f1f1;
		    			margin: 15px 15px 0 0;
		    			padding: 15px;

		    			img{
		    				width: 95%;
		    			}
		    		}
		    		&:after{
		    			width: 100%;
		    			height: 1px;
		    			display: block;
		    			background-color: #f1f1f1;
		    			content: "";
		    			margin: 30px 0 30px;
		    		}

		    	}
		    }

		    .sel-current-batch{
		    	float: left;
	    		margin: 20px 0;

	    		.chnge-current-lesson-btn{
	    			float: left;
	    			margin: -5px 0 0 20px;
	    		}
	    	}
		    .heading-row{
		    	.right-col{
		    		margin-top: 15px;
		    		text-align: right;

		    		button, a{
		    			min-width: 152px;
			    		outline: none;
		    		}
		    	}
		    	.search-component{
		    		padding-right: 0;

		    		input{
			    		width: 100%;
			    	}
		    	}
			}

			.course-manager{
				width: 100%;
				position: relative;
				float: left;

				.cm-left-column{
					position: fixed;
					border: 1px solid #ccc;
					width: 350px;
					bottom: 20px;
					padding-bottom: 35px;
					top: 135px;
					border-radius: 3px;
					overflow: hidden;

					.search-track {
						border-bottom: 1px solid #ccc;

						input{
							border: 0;
						}
					}
					.course-track{
					    position: relative;
					    // bottom: 35px;
					    height: 100%;
					    overflow-y: auto;
					    top: 0px;
					    padding-top: 5px;

						.track-row{
							// margin-bottom: 5px;
							width: 100%;

							label{
								width: inherit;
								cursor: pointer;
								padding: 2px 10px;
								display: table;
								font-weight: normal;

								input{
									top: 2px;
									right: 2px;
									position: relative;
									display: table-cell;
								}
								.track-name{
									width: inherit;
									display: table-cell;
									padding-left: 5px;
								}
							}
						}
					}
				}
				.cm-right-column{
					position: fixed;
					border: 1px solid #ccc;
					// width: 55%;
					bottom: 20px;
					top: 135px;
					right: 25px;
					left: 250px;
					margin-left: 370px;
					border-radius: 3px;
					padding-bottom: 34px;
					overflow: hidden;

					.header-row{
						width: 100%;
						height: 34px;
						line-height: 34px;
						padding: 0 10px;
						border-bottom: 1px solid #ccc;

						.header-title{
							margin: 8px 0 0 0;
							float: left;
						}
					}
					.manage-course{
						position: relative;
					    width: 100%;
					    height: 100%;
					    bottom: 0;
					    overflow-y: auto;
					    margin-bottom: 34px;

					    .panel{
					    	&.panel-default{
					    		.panel-heading{
						    		color: #333;
								    background-color: #f5f5f5;
								    border-color: #ddd;
								    cursor: pointer;
						    	}
					    	}
					    	.panel-heading{
						    	border-bottom: 1px solid transparent;
							    border-top-left-radius: 3px;
							    border-top-right-radius: 3px;

							    .btn-group{
							    	float: right;
							    }
							}
					    }
					    .module-wrapper{
					    	.heading-row{
								background-color: #f1f1f1;
								padding: 8px 10px;

								.btn-group{
									margin: 0 0 0 8px; 

									button{
										background: none;
										border: 0;

									}
									&.open .dropdown-toggle{
										box-shadow: none;
										color: green;
									}
									.fa{
										font-size: 20px;
										color: #FFA500;
										font-weight: normal;
									}
								}
					    	}
							.module-name{
								margin: 3px 0 0 0;
								font-weight: bold;
								float: left;
							}
							.collapse-wrapper{
								margin-top: 2px;
								float: right;
							}
							.sub-module{
								padding: 0 10px;

								.sub-module-heading{
									margin: 8px 0;
									font-weight: bold;
								}
								// .collapse.in{
								// 	display: inline-block;
								// }
								ul.module-content{
									margin: 0;
									padding-left: 0;

									li>ul>li{
										border-bottom: 1px solid #ccc;
										background: none;
										margin-bottom: 0;

										&:last-child{
											border: 0;
										}
									}
									li{
										padding: 4px 5px;
										list-style-type: none;
										background: #f1f1f1;
										margin-bottom: 1px;
										position: relative;

										&.ty-code:before{
											font-family: FontAwesome;
											content: "\f121";
											margin-right: 5px;
											color: #999;
											font-weight: bold;
											font-size: 110%;
										}
										&.chapter:before{
											font-family: FontAwesome;
											content: "\f1c0";
											margin-right: 5px;
											color: #999;
											font-weight: bold;
											font-size: 110%;
										}
										&.reader:before{
											font-family: FontAwesome;
											content: "\f02d";
											margin-right: 5px;
											color: #999;
											font-weight: bold;
											font-size: 110%;
										}
										&.blog-medium:before{
											font-family: FontAwesome;
											content: "\f23a";
											margin-right: 5px;
											color: #999;
											font-weight: bold;
											font-size: 110%;
										}

										.lesson-delete{
											display: none;
											position: absolute;
										    top: 4px;
										    right: 10px;
										}
										&:hover{
											.lesson-delete{
												display: block;
											}
										}
									}
								}
							}
						}
					}
				}
				.tracks-controls{
					float: left;
				    margin-left: 365px;
				    margin-top: 20%;

				    .fa{
				    	margin-bottom: 10px;
				    }
				}
				&:after{
					clear: both;
					content: "";
					display: block;
				}
			}
	    }
	}
}
.quiz-indicator {
	border: 1px solid;
    border-radius: 50%;
    padding: 2px;
    line-height: 1;
    position: absolute;
    left: 7px;
    // margin-top: 10px;
    width: 24px;
    text-align: center;

    i {
    	font-size: 18px;
    }
}

.quiz-test-wrapper .quiz-inner.quiz-indicator-right {
	border-color: #3c763d; 
	.quiz-indicator {
		color: #3c763d;
		border-color: #3c763d; 
	}
}
.quiz-test-wrapper .quiz-inner.quiz-indicator-wrong-right {
	// border-color: #999; 
	.quiz-indicator {
		border-color: #999; 
		color: #999;
	}
}

.quiz-test-wrapper .quiz-inner.quiz-indicator-wrong {
	border-color: #a94442;
	.quiz-indicator {
	border-color: #a94442; 
	color: #a94442;
	}
}

.modal.quiz, .modal{
	input[type="text"], input[type="file"], select.form-control{
		width: 80%;
		display: inline-block;
	}
	&#add-to-batch{
		select{
			width: 100%;
			// display: inline-block;
		}	
	}
	.fa{
		position: relative;
		top: 4px;
		font-size: 20px;
		margin-right: 5px;

		&.fa-plus-circle{
			color: #32CD32;
		}
		&.fa-minus-circle{
			color: #ff0000;
		}
		&.fa-picture-o{
			font-size: 	16px;
		}
	}
	.add-remove-btns{
		display: inline-block;
		vertical-align: top;
	}
}


//global styles
.field-validation{
	margin-top: 5px;
	font-size: 12px;
}
.modal .select2-container, #change-current-lesson .select2-container, .select2-container{
	width: 100%!important;

	.select2-selection__rendered{
		line-height: 34px;
	}
	.select2-selection--single{
		height: 34px;
		border-color: #ccc;
	}
	.select2-selection__arrow{
		height: 32px;
	}
}
.modal#enroll-student{
	.enroll-student{
		width: 364.8px!important;
	}
}


.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: inherit;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  // font-family: FontAwesome;
  // content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
  	width:calc(100% - 300px);
  	float: right;
  }
}

.top-expand-menu {
	&.modal-change-lesson {
		display: block;
		position: relative;
		top: inherit;
	    bottom: inherit; 
	    left: inherit; 
	    width: auto; 
	    float: none;
		box-shadow: none;
    	overflow: auto;

    	.list-group-item{

    		 button {
    		 	display: none;
    		 	position: absolute;
			    right: 92px;
			    top: 8px;
		        z-index: 1;
    		 }
    		 
    		 &:hover {
    		 	button {
    		 		display: block;
    		 	}
    		 }
		}
	}
}
.course-top-bar-details {
	&.course-top-bar {
		position: relative;
	    border-bottom: 1px solid #ccc;
	    top: inherit;
	    right: inherit;
	    left: 0;
	    padding: 0;
	    margin-bottom: 15px;

	    &:after {
	    	content: "";
			display: table;
			clear: both;
	    }
	}

	.course-heading {
	    float: left;
	    margin-bottom: 15px;
	    margin-top: 0;
	    margin-left: 15px;
	}
}

.modal-disabled:after {
    background: rgba(255, 255, 255, 0.60);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    z-index: 1001;
}