<!--=include ../common/header.html -->
<div class="left-panel-navi">
	<div class="cl-logo">
		<img src="assets/img/commit-live-logo.png" />
	</div>
	<div class="course-name">
		Full Stack Data Science Engineering
	</div>
	<div class="navi-listing">
		<ul>
			<li>
				<a href="#">Dashboard</a>
			</li>
			<li>
				<a href="#" class="active">Lessons</a>
			</li>
			<li>
				<a href="#">Practice</a>
			</li>
			<li>
				<a href="#">Quiz</a>
			</li>
		</ul>
	</div>
</div>
<div class="right-panel-details">
	<div class="row">
		<div class="col-sm-12">
			<div class="top-panel">
				<div class="col-sm-5 search-wrapper">
					<input type="text" class="form-control" name="" placeholder="Search..." />
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown icon-text-nav"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i><span class="label label-danger">2</span></a>
						<ul class="dropdown-menu">
							<li><h4>Pending Quiz</h4></li>
							<li><a href="index.html"><i class="fa fa-list" aria-hidden="true"></i><!-- <strong>Quiz:</strong> --> Python Programming (8)</a></li>
							<li><a href="index.html"><i class="fa fa-list" aria-hidden="true"></i><!-- <strong>Quiz:</strong> --> Big Data Visualisation (9)</a></li>
							<li><h4>Current Lesson</h4></li>
							<li><a href="index.html"><i class="fa fa-file-text-o" aria-hidden="true"></i><!-- <strong>Quiz:</strong> --> Python Programming</a></li>
						</ul>
					</li>
					<li class="icon-text-nav"><a href="#"><i class="fa fa-slack" aria-hidden="true"></i> Slack</a></li>
					<li class="dropdown nav-profile-img">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<img src="../../assets/img/profile-1.jpg" height="32" width="32" alt=""> <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="index.html">Login</a></li>
							<li><a href="student-profile.html">My Profile</a></li>
							<li><a href="profile-settings.html">Profile Setting</a></li>
							<li><a href="program-schedule.html">My Schedule</a></li>
							<li><a href="instructor-login.html">Instructor Login</a></li>
							<li><a href="student-assignment-status.html">Assignment Status</a></li>
							<!-- <li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li> -->
						</ul>
					</li>
				</ul>
			</div>

			<div class="main-content-wrapper">
				<ul class="nav nav-tabs" role="tablist">
				  <li class="nav-item active">
				    <a class="nav-link" href="#foundation" role="tab" data-toggle="tab">Foundation</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#ml" role="tab" data-toggle="tab">Machine Learning</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#bigdata" role="tab" data-toggle="tab">Big Data</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#datavisual" role="tab" data-toggle="tab">Data Visualisation</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#productize" role="tab" data-toggle="tab">Productize</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" href="#capstone" role="tab" data-toggle="tab">Capstone</a>
				  </li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="foundation">
						<div style="padding-left: 45px;">
							<h5>Refresher and Launch</h5>
						</div>
						<ul>
							<li>
								<div class="lesson-row">
									<div class="lesson-name">
										Introduction to Datascience
									</div>
								</div>
							</li>
							<li>
								<div class="lesson-row">
									<div class="lesson-name">
										Python Basics (0/40)
									</div>
								</div>
								<div class="child-lesson">
									<div class="lesson-row">
										<ul>
											<li>
												<div class="lesson-row">
													<div class="lesson-name">
														Find all the even number between 1 to 100
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="lesson-row">
										<ul>
											<li>
												<div class="lesson-row">
													<div class="lesson-name">
														Generate Fibonacci sequence upto 10
													</div>
												</div>
											</li>
										</ul>
									</div>
									<div class="lesson-row">
										<ul>
											<li>
												<div class="lesson-row">
													<div class="lesson-name">
														Generate Fibonacci sequence upto 10
													</div>
												</div>
												<div class="child-lesson">
													<div class="lesson-row">
														<ul>
															<li>
																<div class="lesson-row">
																	<div class="lesson-name">
																		Find all the even number between 1 to 100
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li>
								<div class="lesson-row">
									<div class="lesson-name">
										Write Blog on Python
									</div>
								</div>
							</li>
							<li>
								<div class="lesson-row">
									<div class="lesson-name">
										I'm speaking with myself, number one, because I have a very good brain.
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="ml">Machine Learning</div>
					<div role="tabpanel" class="tab-pane fade" id="bigdata">Big Data</div>
					<div role="tabpanel" class="tab-pane fade" id="datavisual">Data Visualisation</div>
					<div role="tabpanel" class="tab-pane fade" id="productize">Productize</div>
					<div role="tabpanel" class="tab-pane fade" id="capstone">Capstone</div>
				</div>

				<div class="right-column-wrapper">
					Right Panel
				</div>
			</div>	
		</div>
	</div>
</div>
<!--=include ../common/footer.html 