<!--=include common/header.html -->
<div class="container-fluid">
    <div class="page-error-box">
        <div class="error-code">404</div>
        <div class="error-title">Page not found</div>
        <a href="dashboard.html" class="btn btn-primary">Dashboard</a>
    </div>
</div>