<!--=include common/header.html -->
<!--=include common/navigation.html -->
<style type="text/css">
	/* The switch - the box around the slider */
label{
	margin-bottom: 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<div class="container" style="margin-top: 110px;">
	<h3>Users List</h3>
	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-10">
			<input type="text" class="form-control" name="search" placeholder="type to search..." />
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-primary btn-sm pull-right"  data-toggle="modal" data-target="#add-user">Add User</button>
		</div>
	</div>
	<table class="table table-bordered">
		<thead>
	      <tr>
	        <th>Id</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Email</th>
	        <th>Phone</th>
	        <th>Status</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
	        <td>1</td>
	        <td>John</td>
	        <td>Doe</td>
	        <td>john@doejohn.com</td>
	        <td>9856252562</td>
	        <td>
	        	<!-- Rounded switch -->
				<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label>
	        </td>
	      </tr>
	      <tr>
	        <td>2</td>
	        <td>Steve</td>
	        <td>Carlos</td>
	        <td>steve@stevecarlos.com</td>
	        <td>8885485685</td>
	        <td>
	        	<!-- Rounded switch -->
				<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label>
	        </td>
	      </tr>
	      <tr>
	        <td>3</td>
	        <td>Jacob</td>
	        <td>Thornton</td>
	        <td>jacob@thorntonbros.com</td>
	        <td>6845958785</td>
	        <td>
	        	<!-- Rounded switch -->
				<label class="switch">
				  <input type="checkbox">
				  <span class="slider round"></span>
				</label>
	        </td>
	      </tr>
	    </tbody>
	</table>
</div>


<div class="modal fade" id="add-user" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add User</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
		  <div class="form-group">
		    <label for="fname" class="col-sm-3 control-label">First Name</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="fname" placeholder="Enter first name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="lname" class="col-sm-3 control-label">Last Name</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="lname" placeholder="Enter last name">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="email" class="col-sm-3 control-label">Email</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="email" placeholder="Enter email address">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="phone" class="col-sm-3 control-label">Phone</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="phone" class="col-sm-3 control-label">Status</label>
		    <div class="col-sm-9">
		      <select class="form-control">
		      	<option>Active</option>
		      	<option>InActive</option>
		      </select>
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Confirmation Modal -->
<div class="modal fade" id="confirm-status" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm Status Change</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to change the Status for <b>John Doe</b> from <b>Active</b> to <b>Inactive</b>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Change Status</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--=include common/footer.html -->
