<!--=include common/header.html -->
<!--=include common/navigation.html -->


<div class="container">
	<div class="course-top-bar">
		<h4 class="course-heading">Javascript Arrays</h4>

		<div class="buttons-wrapper">
			<!-- <div class="btn btn-sm icons-soc btn-success">Open in App</div> -->
			<!-- Single button -->
			<!-- <div class="cl-show-hide">
			  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Open in App <span class="caret"></span>
			  </button>
			  <div class="cl-toggle">
			  	<div class="panel panel-default">
				  <div class="panel-body">
				    <p>Run below command in Commit.Live IDE terminal</p>
				    <div class="input-group">
					  <input type="text" class="form-control" value="https://github.com/WaheedPanjri/product-stylekit.git" aria-describedby="basic-addon2">
					  <div  class="input-group-addon">
					  	<button type="button" id="basic-addon2"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div> -->
			<a href="#" class="btn btn-sm icons-soc btn-success">Open in App</a>

			<!-- <div class="ico
			ns-soc">
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="GitHub"><span class="fa fa-github"></span></a>
			</div>
			<div class="icons-soc">
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Edit"><span class="fa fa-pencil-square-o"></span>
			</div>
			<div class="icons-soc">
				<a href="#" data-toggle="tooltip" data-placement="bottom" title="Raise an issue"><span class="fa fa-flag-o"></span>
			</div> -->
		</div>
		<div class="open-jupyter-notebook">
			<!-- <a href="">Open Jupyter Notebook</a> -->
			<button type="button" class="btn btn-sm btn-default" onclick="location.href='course-detail-jupyter-notebook.html';">Open Jupyter Notebook</button>
		</div>
	</div>
	<div class="left-column course-detail">
		<!--=include common/course-content.html -->
	</div>
</div>
<div class="right-sidebar">
	<div class="activity-list">
		<div class="lesson-complete">
			<div class="mark-done">
				<i class="fa fa-check" aria-hidden="true"></i>
				<div class="status">Reading Completed</div>
				<!-- <a href="" class="btn btn-primary btn-xs">Done!</a> -->
			</div>
			<a href="" class="btn btn-primary next-btn" disabled>Next Lesson</a>
		</div>

		<br><br>
		<div class="lesson-complete">
			<div class="mark-done success">
				<i class="fa fa-check" aria-hidden="true"></i>
				<div class="status">Lesson Forked</div>
			</div>
			<div class="mark-done error">
				<i class="fa fa-close" aria-hidden="true"></i>
				<div class="status">Error in test case</div>
			</div>
			<div class="mark-done">
				<i class="fa fa-check" aria-hidden="true"></i>
				<div class="status">Submit Pull Request</div>
			</div>
			<div class="mark-done">
				<i class="fa fa-check" aria-hidden="true"></i>
				<div class="status">Review Completed</div>
			</div>
			<a href="" class="btn btn-default next-btn" data-toggle="modal" data-target="#lesson-complete">Next Lesson</a>
		</div>
	</div>
	<a href="" class="btn btn-success have-a-question">Have a Question? Leave it here</a>
</div>
<div id="lesson-complete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">Proceed to next lesson?</h4>
        </div>
        <div class="modal-body profile-setting">
          <form>
	        <p>
	        	<h4 class="lesson-incomplete-modal-heading">Lesson is not yet completed</h4>
	        	<p>
	        		We strongly reccomend you to complete this lesson before you proceed. Completing lessons step by step will always help you understand the course more accurately.
	        	</p>
	        </p>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Proceed</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<!--=include common/footer.html -->
