<!--=include common/header.html -->
<!--=include common/navigation.html -->
<script src="https://code.highcharts.com/highcharts.js"></script>

<div class="container ga-dashboard">
	<div class="left-column">
		<div class="col-sm-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">
			    	<div class="title-small"><small>KEEP LEARNING</small></div>
			    	Your Next Lesson
			    </h3>
			    <!-- <button type="button" class="btn btn-primary continue-btn">Continue</button> -->
			    <a href="course-detail.html" class="btn btn-primary continue-btn">Continue</a>
			  </div>
			  <div class="panel-body">
			    <div class="current-course-name"><h4>JavaScript Logging Lab</h4></div>
			    <div class="user-bubble-bar">
			    	<small>243 Students Working</small>
			    	<ul>
			    		<li>
			    			<a href="#">
			    				<img src="../../assets/img/user.jpg" alt="">
			    			</a>
			    		</li>
			    		<li>
			    			<a href="#">
			    				<img src="../../assets/img/user-1.jpg" alt="">
			    			</a>
			    		</li>
			    		<li>
			    			<a href="#">
			    				<img src="../../assets/img/user-2.jpg" alt="">
			    			</a>
			    		</li>
			    		<li>
			    			<a href="#">
			    				<img src="../../assets/img/user-3.jpg" alt="">
			    			</a>
			    		</li>
			    		<li>
			    			<a href="#">
			    				<img src="../../assets/img/user-4.jpg" alt="">
			    			</a>
			    		</li>
			    		<li>
		    				<div class="more-working">
		    					+238
		    				</div>
			    		</li>
			    	</ul>
			    </div>
			  </div>
			</div>
		</div>
		
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h4 class="panel-title">
					    	Javascript Foundations
					    </h4>
					  </div>
						<div class="panel-body course-completion">
							<div class="complete-percent">
								10%
							</div>
							<div class="progress">
							  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
							    <span class="sr-only">20% Complete</span>
							  </div>
							</div>
							<!-- <div class="lessons">
								<span class="numbers">2 / 48</span> lessons completed
							</div> -->
							<div class="progress-stats">
								<div class="heading">Lessons Completion</div>
								<span class="stats-count">2/48 lessons completed</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					    	Learning Streak
					    </h3>
					  </div>
					  <div class="panel-body learning-streak">
					  	<div class="learning-streak-box">
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
						    <div class="streak-box"><div class="inner"></div></div>
					    </div>
					    <div class="progress-stats">
							<div class="heading">Longest Streak: 2</div>
							<span class="stats-count">Current: 0 days</span>
						</div>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					    	Velocity
					    </h3>
					  </div>
					  <div class="panel-body velocity-chart">
					    <div id="velocity-chart" style="height: 185px; margin: 0 auto;"></div>
					    <div class="progress-stats">
							<div class="heading">This week</div>
							<span class="stats-count">5 Lessons</span>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">
			    	Recent Updates
			    </h3>
			  </div>
			  <div class="panel-body recent-updates">
			  	<div class="updates-list-outer">
			  		<ul>
				  		<li>
				  			<div class="profile-pic"><img src="../../assets/img/user-3.jpg" alt=""></div>
				  			<div class="updates-content">
				  				<div class="time">
				  					2 months ago
				  				</div>
				  				<div class="update-type">
				  					Samuel Smith updated Javascript Arithmetic Lab
				  				</div>
				  			</div>
				  			<div class="github-link">
				  				<a href="#">
				  					<span class="fa fa-github"></span>
				  				</a>
				  			</div>
				  		</li>
				  		<li>
				  			<div class="profile-pic"><img src="../../assets/img/user-3.jpg" alt=""></div>
				  			<div class="updates-content">
				  				<div class="time">
				  					2 months ago
				  				</div>
				  				<div class="update-type">
				  					Samuel Smith updated Javascript Arithmetic Lab
				  				</div>
				  			</div>
				  			<div class="github-link">
				  				<a href="#">
				  					<span class="fa fa-github"></span>
				  				</a>
				  			</div>
				  		</li>
				  		<li>
				  			<div class="profile-pic"><img src="../../assets/img/user-3.jpg" alt=""></div>
				  			<div class="updates-content">
				  				<div class="time">
				  					2 months ago
				  				</div>
				  				<div class="update-type">
				  					Samuel Smith updated Javascript Arithmetic Lab
				  				</div>
				  			</div>
				  			<div class="github-link">
				  				<a href="#">
				  					<span class="fa fa-github"></span>
				  				</a>
				  			</div>
				  		</li>
				  		<li>
				  			<div class="profile-pic"><img src="../../assets/img/user-3.jpg" alt=""></div>
				  			<div class="updates-content">
				  				<div class="time">
				  					2 months ago
				  				</div>
				  				<div class="update-type">
				  					Samuel Smith updated Javascript Arithmetic Lab
				  				</div>
				  			</div>
				  			<div class="github-link">
				  				<a href="#">
				  					<span class="fa fa-github"></span>
				  				</a>
				  			</div>
				  		</li>
				  		</li>
			  		</ul>
			  	</div>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="right-sidebar">
	<div class="activity-list">
		<div class="heading">Recent Activity</div>
		<ul>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-1.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-2.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Finished reading Javascript Intro To Variable Assignment And Declaration
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-3.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-4.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-5.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<script type="text/javascript">
Highcharts.setOptions({
     colors: ['#16c0f3', '#f1f1f1']
    });


Highcharts.chart('velocity-chart', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    title: {
        // text: 'Browser<br>shares<br>2015',
        // align: 'center',
        // verticalAlign: 'middle',
        // y: 40,
        text: null
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    credits: {
	  enabled: false
	},
    plotOptions: {
        pie: {
            dataLabels: {
                enabled: true,
                distance: -50,
                style: {
                    fontWeight: 'bold',
                    color: 'white',
                }
            },
            startAngle: -90,
            endAngle: 90,
            center: ['50%', '75%']
        }
    },
    series: [{
        type: 'pie',
        name: 'Browser share',
        innerSize: '50%',
        data: [
            ['',   10.38],
            ['',       10],
            // ['Chrome', 24.03],
            // ['Safari',    4.77],
            // ['Opera',     0.91],
            {
                name: 'Proprietary or Undetectable',
                y: 0.0,
                dataLabels: {
                    enabled: false
                }
            }
        ]
    }]
});


</script>
<!--=include common/footer.html -->
