<!--=include common/header.html -->
<!--=include common/navigation.html -->
<div class="main-container">
<div class="ga-dashboard ">
	<div class="col-sm-12">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h4 class="panel-title">
				    	Current Course
				    </h4>
				  </div>
					<div class="panel-body course-completion">
						<!-- Loader starts -->
						<!-- <div class="timeline-wrapper">
						  <div class="timeline-item">
						    <div class="animated-background facebook">
						      <div class="background-masker header-top"></div>
						      <div class="background-masker header-left"></div>
						      <div class="background-masker header-right"></div>
						      <div class="background-masker header-bottom"></div>
						      <div class="background-masker subheader-left"></div>
						      <div class="background-masker subheader-right"></div>
						      <div class="background-masker subheader-bottom"></div>
						      <div class="background-masker content-top"></div>
						      <div class="background-masker content-first-end"></div>
						      <div class="background-masker content-second-line"></div>
						      <div class="background-masker content-second-end"></div>
						      <div class="background-masker content-third-line"></div>
						      <div class="background-masker content-third-end"></div>
						    </div>
						  </div>
						</div> -->
						<!-- Loader ends -->
						<div class="current-lesson">
							Data Science
						</div>
						<hr>
						<div class="details-row">
							<!--<div class="heading">Current Chapter</div>-->
							<div class="chapter-name">
								<i class="fa fa-file-text-o" aria-hidden="true"></i> Introduction to Python Intermediate
							</div>
							<!-- <div class="lesson-name">
								&ndash; Working with Python
							</div> -->
						</div>
						
						<!-- <div class="details-row">
							<div class="heading">Current Lesson</div> 
							Working with Python
						</div> -->
						
						<div class="continue-btn">
							<a href="course-detail.html" class="btn btn-primary">Continue</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-sm-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">
				    	Upcoming Sessions
				    </h3>
				  </div>
				  <div class="panel-body upcoming-sessions">
				  	<!-- <div class="title-small">Lesson</div> -->
				  	<div class="lesson-name">SQL</div>
					  	<div class="sessions-list">
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Introduction to RDBMS &amp; SQL
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Setup Workbench
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Intro to RDBMS
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									ACID Properties
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Normalization
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Transaction
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									challenges
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Introduction to NoSQL
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Intro to SQL
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Create Database and Tables
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Constraints
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Import Datasets
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Select Statement
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Where clause
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									AND &amp; OR operators
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									distinct Keyword
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									LIKE clause
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									ORDER BY
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									GROUP BY
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Joins
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									INNER Join
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									FULL Join
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									SELF Join
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									LEFT Join
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									RIGHT Join
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Assignment 1
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Assignment 2
								</div>
							</div>
							<div class="session-row">
								<div class="icon">
									<i aria-hidden="true" class="fa fa-calendar"></i>
								</div>
								<div class="session-name">
									Assignment 3
								</div>
							</div>
						</div>
				  </div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">
				    	Current Status
				    </h3>
				  </div>
				  <div class="panel-body current-status">
				  	<div class="complete-percent">
						6%
					</div>
					<div class="progress">
					  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="6" aria-valuemin="0" aria-valuemax="100" style="width: 6%;">
					    <span class="sr-only">6% Complete</span>
					  </div>
					</div>
				  	<div class="col-sm-4 stats-columns">
					  	<div class="details-row">
							<div class="heading"># of<br />Assignments<br />Completed</div>
							<div class="status-data">1</div>
						</div>
					</div>
					<div class="col-sm-4 stats-columns">
						<div class="details-row">
							<div class="heading"># of<br />Test Cases<br />Passed</div>
							<div class="status-data">3</div>
						</div>
					</div>
					<div class="col-sm-4 stats-columns">
						<div class="details-row">
							<div class="heading"># of<br />Lessons<br />Completed</div>
							<div class="status-data">5</div>
						</div>
					</div>
					<div class="progress-stats">
						<!-- <div class="heading">Lessons Completion</div> -->
						<span class="stats-count">5/76 lessons completed</span>
					</div>
					<div class="status-buttons">
						<a href="student-assignment-status.html" class="btn btn-xs btn-info">View Assignment Details</a></span>
						&nbsp;
						<a href="student-quiz-status.html" class="btn btn-xs btn-info">View Quiz Details</a></span>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 row-spacing">
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">
				    	Pending Labs
				    </h3>
				  </div>
				  <div class="panel-body pending-labs">
				  	<!-- <div class="title-small">Lesson</div> -->
				  	<div class="pending-lessons-list">
				  		<div class="lesson-list">
					  		<div class="lesson-list-row">
								<div class="pending-chapter-name">
									<i class="fa fa-file-text-o" aria-hidden="true"></i> Javascript Logging Lab
								</div>
								<div class="pending-lesson-name">
									<ul>
										<li>&ndash; Solving labs on GreyAtom</li>
									</ul>
								</div>
							</div>
							<div class="lesson-list-row">
								<div class="pending-chapter-name">
									<i class="fa fa-file-text-o" aria-hidden="true"></i> Functions and Scope
								</div>
								<div class="pending-lesson-name">
									<ul>
										<li>&ndash; Javascript flow control</li>
									</ul>
								</div>
							</div>
							<div class="lesson-list-row">
								<div class="pending-chapter-name">
									<i class="fa fa-file-text-o" aria-hidden="true"></i> Loops
								</div>
								<div class="pending-lesson-name">
									<ul>
										<li>&ndash; forEach() Lab</li>
										<li>&ndash; exiting loops</li>
									</ul>
								</div>
							</div>
							<div class="lesson-list-row">
								<div class="pending-chapter-name">
									<i class="fa fa-file-text-o" aria-hidden="true"></i> Data Structures
								</div>
								<div class="pending-lesson-name">
									<ul>
										<li>&ndash; Javascript Objects</li>
									</ul>
								</div>
							</div>
						</div>
				  	</div>
				  </div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">
				    	Stack Overflow Top Questions
				    	<img src="../../assets/img/stack-overflow-logo.png" class="so-img" alt="" height="25px">
				    </h3>
				  </div>
				  <div class="panel-body so-stats-panel">
				  	<div class="stats-list">
				  		<div class="stats-list-row">
				  			<div class="stats-numbers">
				  				<div class="stats-box">
				  					1
				  					<div class="stats-box-h">votes</div>
				  				</div>
				  				<div class="stats-box status">
				  					0
				  					<div class="stats-box-h">answers</div>
				  				</div>
				  				<div class="stats-box">
				  					178
				  					<div class="stats-box-h">views</div>
				  				</div>
				  			</div>
				  			<div class="stats-summary">
				  				<div class="question">
				  					<a href="#">Create an Array inside Array</a>
				  				</div >
				  				<div class="tags">
				  					<a href="" class="post-tag">array</a>
				  					<a href="" class="post-tag">php</a>
				  					<a href="" class="post-tag">json</a>
				  				</div>
				  				<div class="post-date">
				  					asked 15 secs ago <a href="#">Lundin</a> <span class="post-count">68.1k</span>
				  				</div>
				  			</div>
				  		</div>
				  		<div class="stats-list-row">
				  			<div class="stats-numbers">
				  				<div class="stats-box">
				  					0
				  					<div class="stats-box-h">votes</div>
				  				</div>
				  				<div class="stats-box status">
				  					0
				  					<div class="stats-box-h">answers</div>
				  				</div>
				  				<div class="stats-box">
				  					178
				  					<div class="stats-box-h">views</div>
				  				</div>
				  			</div>
				  			<div class="stats-summary">
				  				<div class="question">
				  					<a href="#">Timer doesn't stop and perform check</a>
				  				</div >
				  				<div class="tags">
				  					<a href="" class="post-tag">php</a>
				  					<a href="" class="post-tag">array</a>
				  					<a href="" class="post-tag">json</a>
				  					<a href="" class="post-tag">jquery</a>
				  				</div>
				  				<div class="post-date">
				  					asked 15 secs ago <a href="#">Lorex</a> <span class="post-count">14</span>
				  				</div>
				  			</div>
				  		</div>
				  		<div class="stats-list-row">
				  			<div class="stats-numbers">
				  				<div class="stats-box">
				  					1
				  					<div class="stats-box-h">votes</div>
				  				</div>
				  				<div class="stats-box status answered">
				  					1
				  					<div class="stats-box-h">answers</div>
				  				</div>
				  				<div class="stats-box">
				  					1
				  					<div class="stats-box-h">views</div>
				  				</div>
				  			</div>
				  			<div class="stats-summary">
				  				<div class="question">
				  					<a href="#">Dismiss present model</a>
				  				</div >
				  				<div class="tags">
				  					<a href="" class="post-tag">ios</a>
				  					<a href="" class="post-tag">objective-c</a>
				  					<a href="" class="post-tag">iphone</a>
				  				</div>
				  				<div class="post-date">
				  					answered 2 mins ago <a href="#">John</a> <span class="post-count">46</span>
				  				</div>
				  			</div>
				  		</div>
				  		<div class="stats-list-row">
				  			<div class="stats-numbers">
				  				<div class="stats-box">
				  					1
				  					<div class="stats-box-h">votes</div>
				  				</div>
				  				<div class="stats-box status">
				  					2
				  					<div class="stats-box-h">answers</div>
				  				</div>
				  				<div class="stats-box">
				  					178
				  					<div class="stats-box-h">views</div>
				  				</div>
				  			</div>
				  			<div class="stats-summary">
				  				<div class="question">
				  					<a href="#">Create an Array inside Array</a>
				  				</div >
				  				<div class="tags">
				  					<a href="" class="post-tag">array</a>
				  					<a href="" class="post-tag">php</a>
				  					<a href="" class="post-tag">json</a>
				  				</div>
				  				<div class="post-date">
				  					asked 15 secs ago <a href="#">Carmen</a> <span class="post-count">254</span>
				  				</div>
				  			</div>
				  		</div>
				  		<div class="stats-list-row">
				  			<div class="stats-numbers">
				  				<div class="stats-box">
				  					1
				  					<div class="stats-box-h">votes</div>
				  				</div>
				  				<div class="stats-box status">
				  					2
				  					<div class="stats-box-h">answers</div>
				  				</div>
				  				<div class="stats-box">
				  					178
				  					<div class="stats-box-h">views</div>
				  				</div>
				  			</div>
				  			<div class="stats-summary">
				  				<div class="question">
				  					<a href="#">Create an Array inside Array</a>
				  				</div >
				  				<div class="tags">
				  					<a href="" class="post-tag">array</a>
				  					<a href="" class="post-tag">php</a>
				  					<a href="" class="post-tag">json</a>
				  				</div>
				  				<div class="post-date">
				  					asked 15 secs ago <a href="#">Lundin</a> <span class="post-count">68.1k</span>
				  				</div>
				  			</div>
				  		</div>
				  		<div class="stats-list-row">
				  			<div class="stats-numbers">
				  				<div class="stats-box">
				  					1
				  					<div class="stats-box-h">votes</div>
				  				</div>
				  				<div class="stats-box status">
				  					2
				  					<div class="stats-box-h">answers</div>
				  				</div>
				  				<div class="stats-box">
				  					178
				  					<div class="stats-box-h">views</div>
				  				</div>
				  			</div>
				  			<div class="stats-summary">
				  				<div class="question">
				  					<a href="#">Create an Array inside Array</a>
				  				</div >
				  				<div class="tags">
				  					<a href="" class="post-tag">array</a>
				  					<a href="" class="post-tag">php</a>
				  					<a href="" class="post-tag">json</a>
				  				</div>
				  				<div class="post-date">
				  					asked 15 secs ago <a href="#">Lundin</a> <span class="post-count">68.1k</span>
				  				</div>
				  			</div>
				  		</div>
				  		<div class="stats-list-row">
				  			<div class="stats-numbers">
				  				<div class="stats-box">
				  					1
				  					<div class="stats-box-h">votes</div>
				  				</div>
				  				<div class="stats-box status">
				  					2
				  					<div class="stats-box-h">answers</div>
				  				</div>
				  				<div class="stats-box">
				  					178
				  					<div class="stats-box-h">views</div>
				  				</div>
				  			</div>
				  			<div class="stats-summary">
				  				<div class="question">
				  					<a href="#">Create an Array inside Array</a>
				  				</div >
				  				<div class="tags">
				  					<a href="" class="post-tag">array</a>
				  					<a href="" class="post-tag">php</a>
				  					<a href="" class="post-tag">json</a>
				  				</div>
				  				<div class="post-date">
				  					asked 15 secs ago <a href="#">Lundin</a> <span class="post-count">68.1k</span>
				  				</div>
				  			</div>
				  		</div>
				  	</div>
				  		<!-- <ul>
				  			<li>
				  				Think hard of whether you are solving an underlying problem or just an outcome
				  			</li>
				  			<li>
				  				Spend more time on finding out the right evaluation metric and how much is required for implementation
				  			</li>
				  			<li>
				  				Think of simplest implementation levers to bring your idea to life <a href="#">Read more...</a>
				  			</li>
				  			<li>
				  				Big data has less value than useful data.
				  			</li>
				  			<li>
				  				There are several essential tools of the trade anyone interested in a career in big data analytics should master.
				  			</li>
				  			<li>
				  				Get data and work on real projects.
				  			</li>
				  			<li>
				  				Leverage external data sources
				  			</li>
				  		</ul> -->
				  </div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12 row-spacing">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	Upcoming Meetups <button onclick="myFunction()">Show Snackbar</button><div id="snackbar" class="bottom-right-snackbar alert alert-success">Form successfully submitted. </div> <!-- .bottom-right-snackbar bottom-left-snackbar top-right-snackbar top-left-snackbar -->
		    </h3>
		  </div>
		  <div class="panel-body">
			<a class="embedly-card" data-card-key="877fe6b873d143799bbf436d69ecb066" data-card-controls="0" data-card-branding="0" data-card-width="100%" href="https://www.meetup.com/DataGiri/events/238016652/">DataGiri March Meetup :: Convolutional Neural Networks & More</a>
			<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		  </div>
		</div>
	</div>
</div><!--left panel end-->
<div class="right-sidebar" style="display: none">
	<!-- <iframe src="common/chat.html" style="    position: fixed;
    bottom: 0;
    top: 53px;
    height: 100%;
    border: 0;
    margin-left: 0;
    right: 0;
    width: 250px;"></iframe> -->
	<div style="margin-top: 60px;">
		<script type="text/javascript">
		    window._chatlio = window._chatlio||[];
		    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.1");
		       n.setAttribute('data-widget-options', '{"embedSidebar": true}');
		       n.setAttribute('data-widget-id','2aed44d0-c900-4cd8-7cd2-e0258d267ebb');
		       c.parentNode.insertBefore(n,c);
		    }();
		</script>
	</div>

	<div class="activity-list" style="display:none;">
		<div class="heading">Recent Activity</div>
		<ul>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-1.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-2.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Finished reading Javascript Intro To Variable Assignment And Declaration
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-3.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-4.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
			<li>
				<div class="activity-user-img">
			    	<img src="../../assets/img/user-5.jpg" alt="">
				</div>
				<div class="activity-user-detail">
					<div class="username">
						Samuel Smith
					</div>
					<div class="time">
						3 minutes ago
					</div>
					<div class="type">
						Built Javascript Strings Lab
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
</div>
<!--=include common/footer.html -->
