<!--=include common/header.html -->
<!--=include common/navigation.html -->

<div class="container ga-dashboard">
	<div class="left-column">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								Current Course
							</h4>
						</div>
						<div class="panel-body course-completion">
							<!-- Loader starts -->
							<div class="timeline-wrapper">
								<div class="timeline-item">
									<div class="animated-background facebook">
										<div class="background-masker header-top"></div>
										<div class="background-masker header-left"></div>
										<div class="background-masker header-right"></div>
										<div class="background-masker header-bottom"></div>
										<div class="background-masker subheader-left"></div>
										<div class="background-masker subheader-right"></div>
										<div class="background-masker subheader-bottom"></div>
										<div class="background-masker content-top"></div>
										<div class="background-masker content-first-end"></div>
										<div class="background-masker content-second-line"></div>
										<div class="background-masker content-second-end"></div>
										<div class="background-masker content-third-line"></div>
										<div class="background-masker content-third-end"></div>
									</div>
								</div>
							</div>
							<!-- Loader ends -->						
						</div>
					</div>
				</div>
				
				<div class="col-sm-4">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					    	Upcoming Sessions
					    </h3>
					  </div>
					  <div class="panel-body upcoming-sessions">
					  	<!--=include common/no-data.html -->
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					    	Current Status
					    </h3>
					  </div>
					  <div class="panel-body current-status">
					  	<!--=include common/no-data.html -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 row-spacing">
			<div class="row">
				<div class="col-sm-4">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					    	Pending Labs
					    </h3>
					  </div>
					  <div class="panel-body pending-labs">
					  	<!--=include common/no-data.html -->
					  </div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">
					    	Stack Overflow Top Questions
					    	<img src="../../assets/img/stack-overflow-logo.png" class="so-img" alt="" height="25px">
					    </h3>
					  </div>
					  <div class="panel-body so-stats-panel no-data">
					  	<!--=include common/no-data.html -->
					  </div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 row-spacing">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">
			    	Upcoming Meetups
			    </h3>
			  </div>
			  <div class="panel-body">
				<a class="embedly-card" data-card-key="877fe6b873d143799bbf436d69ecb066" data-card-controls="0" data-card-branding="0" data-card-width="100%" href="https://www.meetup.com/DataGiri/events/238016652/">DataGiri March Meetup :: Convolutional Neural Networks & More</a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			  </div>
			</div>
		</div>
	</div>
</div><!--left panel end-->
<div class="right-sidebar">
	<div style="margin-top: 60px;">
		<script type="text/javascript">
		    window._chatlio = window._chatlio||[];
		    !function(){ var t=document.getElementById("chatlio-widget-embed");if(t&&window.ChatlioReact&&_chatlio.init)return void _chatlio.init(t,ChatlioReact);for(var e=function(t){return function(){_chatlio.push([t].concat(arguments)) }},i=["configure","identify","track","show","hide","isShown","isOnline"],a=0;a<i.length;a++)_chatlio[i[a]]||(_chatlio[i[a]]=e(i[a]));var n=document.createElement("script"),c=document.getElementsByTagName("script")[0];n.id="chatlio-widget-embed",n.src="https://w.chatlio.com/w.chatlio-widget.js",n.async=!0,n.setAttribute("data-embed-version","2.1");
		       n.setAttribute('data-widget-options', '{"embedSidebar": true}');
		       n.setAttribute('data-widget-id','2aed44d0-c900-4cd8-7cd2-e0258d267ebb');
		       c.parentNode.insertBefore(n,c);
		    }();
		</script>
	</div>
</div>
<!--=include common/footer.html -->
