<!--=include common/header.html -->
<style type="text/css">body{background: #fafafa;}</style>

<div class="form-signin">
	<form>
	<p class="logo">
	  <img src="../../assets/img/commit-live-login.png" alt="">
	</p>
		<!-- <div class="form-heading">Login</div> -->
		<!-- <div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>
		<div class="form-group remember-me">
			<div class="checkbox pull-left">
				<label>
				  <input type="checkbox"> Remember me
				</label>
			</div>
			<div class="pull-right forgot-passw">
				<a href="reset-password.html">Forgot Password?</a>
			</div>
		</div> 
		<a href="dashboard.html" class="btn btn-primary btn-lg btn-block">Submit</a> -->

		<a href="dashboard.html" class="btn btn-primary btn-lg btn-block login-github">
		  <span class="fa fa-github"></span>
		  Sign in with GitHub account
		</a>
	</form>
</div>
<!--=include common/footer.html -->