<!--=include common/header.html -->
<style type="text/css">body{background: #fafafa;}</style>

<div class="form-signin">
  <form>
    <p class="logo">
      <img src="../../assets/img/commit-live-login.png" alt="">
    </p>
    <div class="form-heading">Instructor Login</div>
    <p>Sign in to continue to Commit.Live</p>
    <div class="form-group">
      <label for="inst-email">Email Address</label>
      <input type="text" class="form-control" id="inst-email" placeholder="Enter email address">
    </div>
    <div class="form-group">
      <label for="inst-passw">Password</label>
      <input type="password" class="form-control" id="inst-passw" placeholder="Enter password">
    </div>
    <a href="../setting-dashboard/index.html" class="btn btn-primary btn-lg btn-block">
      Login
    </a>
    <!-- <button type="submit" class="btn btn-primary btn-lg btn-block"></button> -->
  </form>
</div>
<!--=include common/footer.html -->