<!--=include common/header.html -->
<div class="container-fluid">
	<div class="non-registered-member">
    	
    	<h2><i class="fa fa-info-circle text-info"></i> Thanks for showing your interest in Commit.Live.</h2>
		<h4>
			Unfortunately, you are not authorised to access Commit.Live yet.<br />
			If you want to know more about Commit.Live, mail us at <a href="mailto:info@greyatom.com">info@greyatom.com</a>.
		</h4>
    </div>
</div>