<!--=include common/header.html -->
<!--=include common/navigation.html -->
<style type="text/css">body{background: #fafafa;}</style>
<div class="container profile-setting">
	<div class="col-sm-8 col-sm-offset-2 profile-ins">
		<form class="form-horizontal">
			<div class="form-heading"><h4>Profile Settings</h4></div>
          <div class="form-group">
            <div class="set-avatar">
              <label for="uploadPhoto" class="col-sm-4 control-label">Upload Photo</label>
              <div class="col-sm-6">
                    <img src="../../assets/img/profile-1.jpg" class="avatar img-circle" alt="avatar">
                    <input type="file" class="form-control">
                </div>
                </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-4 control-label">Name</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-4 control-label">Email ID</label>
              <div class="col-sm-6">
                <input type="email" class="form-control" id="emailId" placeholder="Enter your email id">
              </div>
            </div>
            <div class="form-group">
              <label for="linkedin" class="col-sm-4 control-label">LinkedIn URL</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="linkedin" placeholder="Enter your LinkedIn url">
              </div>
            </div>
            <div class="form-group">
              <label for="github" class="col-sm-4 control-label">GitHub URL</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" id="github" placeholder="Enter your GitHub url">
              </div>
            </div>
            <div class="form-group">
              <label for="email" class="col-sm-4 control-label">Stackoverflow ID / Token</label>
              <div class="col-sm-6">
                <span class="so-authentication">
                  <a href="#" class="btn btn-success btn-xs">Get token</a>
                  <!-- AhsbrT4dn54ndRtcasDwTpjk12xfg -->
                </span>
              </div>
            </div>
            <hr>
            <div class="form-group">
              <div class="col-sm-6 col-sm-offset-4">
                <a href="" class="btn btn-default">Cancel</a>
                <a href="" class="btn btn-primary">Save</a>
              </div>
            </div>
        </form>	
	</div>
</div>

<!--=include common/footer.html -->
