<!--=include common/header.html -->
<!--=include common/navigation.html -->
<div class="main-container">
   <div class="container">
        <h2>My Schedule</h2>
        <p>Full stack data science program timeline and schedule</p>            
       <table class="table table-striped table-bordered">
   <thead>
      <colgroup>
         <col width="130">
         <col width="100">
         <col>
         <col>
         <col>
      </colgroup>
      <tr>
         <th>Date</th>
         <th>Day#</th>
         <th>Session</th>
         <th>Instructor</th>
         <th>Videos</th>
      </tr>
   </thead>
   <tbody>
         <colgroup>
         <col width="130">
         <col width="100">
         <col>
         <col>
         <col>
      </colgroup>
      <tr>
         <td>13-May-2017</td>
         <td>Day 1</td>
         <td>Program launch and Introduction to Data Science</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220460031">&nbsp;Panel Discussion</a></span><br></td>
      </tr>
      <tr>
         <td>14-May-2017</td>
         <td>Day 2</td>
         <td>Tech Basics</td>
         <td><a rel="noopener noreferrer" href="https://linkedin.com/in/deepakangrula" target="_blank">Deepak Angrula</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219070066">&nbsp;Introduction Tech Basics</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219070266">&nbsp;Introduction to the Linux Shell AND Linux File System</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219070926">&nbsp;Linux- User and User Groups, File permissions</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219071462">&nbsp;Environment Variables</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219072424">&nbsp;How Internet Works</a></span><br></td>
      </tr>
      <tr>
         <td>27-May-2017</td>
         <td>Day 3</td>
         <td>Python Basics &amp; Intermediate</td>
         <td><a rel="noopener noreferrer" href="https://linkedin.com/in/deepakangrula" target="_blank">Deepak Angrula</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219533419">&nbsp;Introduction to Git and Github</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219509938">&nbsp;Setup Git and Github</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219518938">&nbsp;Explorer Git repo &amp; setup SSH for GitHub</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219507009">&nbsp;Introduction to Python Basics</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219627019">&nbsp;Python Programming Basics</a></span><br></td>
      </tr>
      <tr>
         <td>28-May-2017</td>
         <td>Day 4</td>
         <td>Python Basics &amp; Intermediate</td>
         <td><a rel="noopener noreferrer" href="https://linkedin.com/in/deepakangrula" target="_blank">Deepak Angrula</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219640183">&nbsp;Python Programming Intermediate- 1</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219659701">&nbsp;Python Programming Intermediate- 2</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/219658828">&nbsp;Python Programming Intermediate- 3</a></span><br></td>
      </tr>
      <tr>
         <td>3-Jun-2017</td>
         <td>Day 5</td>
         <td>Python Advanced - Pandas</td>
         <td><a rel="noopener noreferrer" href="https://linkedin.com/in/deepakangrula" target="_blank">Deepak Angrula</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220764743">&nbsp;Intro to Pandas, Data frames, Selection &amp; Indexing</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220770244">&nbsp;Code Hands-on</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220777878">&nbsp;Pandas (continued)</a></span><br></td>
      </tr>
      <tr>
         <td>4-Jun-2017</td>
         <td>Day 6</td>
         <td>Python Advanced - Matplotlib and Python Project</td>
         <td><a rel="noopener noreferrer" href="https://linkedin.com/in/deepakangrula" target="_blank">Deepak Angrula</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220756199">&nbsp;Python Advanced- Pandas Data Manipulation</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220776915">&nbsp;Industry Session on Promotion Response Analysis</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220756333">&nbsp;Python Coding Best Practices</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/220756609">&nbsp;Matplotlib</a></span><br></td>
      </tr>
      <tr>
         <td>17-Jun-2017</td>
         <td>Day 7</td>
         <td>SQL</td>
         <td><a rel="noopener noreferrer" href="https://in.linkedin.com/in/sangamangre" target="_blank">Sangam Angre</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222491591">&nbsp;SQL for Data Science</a></span></td>
      </tr>
      <tr>
         <td>18-Jun-2017</td>
         <td>Day 8</td>
         <td>Introduction to Machine Learning</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td>
            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222493317">&nbsp;Machine Learning -1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222492777">&nbsp;Machine Learning -2</a></span>
         </td>
      </tr>
      <tr>
         <td>24-Jun-2017</td>
         <td>Day 9</td>
         <td>Practical Machine Learning - Street Fighting with Maths</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td>
            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223284968">&nbsp;Practical Machine Learning - Street Fighting with Maths</a></span>
         </td>
      </tr>
      <tr>
         <td>25-Jun-2017</td>
         <td>Day 10</td>
         <td>Practical Machine Learning - Feature Engineering</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td>
            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223429945">&nbsp;Practical Machine Learning - Feature Engineering</a></span>
         </td>
      </tr>
      <tr>
         <td>8-Jul-2017</td>
         <td>Day 11</td>
         <td>Practical Machine Learning - Inferential Statistics</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/224928403">&nbsp;Descriptive and inferential statistics - 1</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/224928819">&nbsp;Descriptive and inferential statistics - 2</a></span></td>
      </tr>
      <tr>
         <td>9-Jul-2017</td>
         <td>Day 12</td>
         <td>Practical Machine Learning - Feature Selection , Image &amp; Text Processing</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/224929179">&nbsp;Descriptive and inferential statistics - 3</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/224929463">&nbsp;Feature Engineering -1</a></span><br><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/224929782">&nbsp;Feature Engineering -2</a></span></td>
      </tr>
      <tr>
         <td>15-Jul-2017</td>
         <td>Day 13</td>
         <td>Practical Machine Learning</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td>
            <span>
               <i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
               <a target="_blank" href="/video/228790343">&nbsp;Feature selection-Machine learning -1</a>
            </span>
            <br>
            <span>
               <i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
               <a target="_blank" href="/video/228790924">&nbsp;Feature selection-Machine learning -2</a>
            </span>
            <br>
            <span>
               <i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
               <a target="_blank" href="/video/228789617">&nbsp;Feature selection-Machine learning -3</a>
            </span>
         </td>
      </tr>
      <tr>
         <td>16-Jul-2017</td>
         <td>Day 14</td>
         <td>Practical Machine Learning</td>
         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
         <td>
            <span>
               <i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
               <a target="_blank" href="/video/228794242">&nbsp;Feature selection-Machine learning assignment- 1</a>
            </span>
            <br>
            <span>
               <i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
               <a target="_blank" href="/video/228795638">&nbsp;Feature selection-Machine learning assignment- 2</a>
            </span>
         </td>
      </tr>
      <tr>
         <td>22-Jul-2017</td>
         <td>Day 15</td>
         <td>Practical Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>23-Jul-2017</td>
         <td>Day 16</td>
         <td>Practical Machine Learning</td>
         <td></td>
         <td>
            <span>
               <i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
               <a target="_blank" href="/video/228805966">&nbsp;Machine learning workflow - 1</a>
            </span>
            <br>
            <span>
               <i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
               <a target="_blank" href="/video/228812484">&nbsp;Machine learning workflow - 2</a>
            </span>
         </td>
      </tr>
      <tr>
         <td>5-Aug-2017</td>
         <td>Day 17</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>6-Aug-2017</td>
         <td>Day 18</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>12-Aug-2017</td>
         <td>Day 19</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>13-Aug-2017</td>
         <td>Day 20</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>19-Aug-2017</td>
         <td>Day 21</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>20-Aug-2017</td>
         <td>Day 22</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>2-Sep-2017</td>
         <td>Day 23</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>3-Sep-2017</td>
         <td>Day 24</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>9-Sep-2017</td>
         <td>Day 25</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>10-Sep-2017</td>
         <td>Day 26</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>16-Sep-2017</td>
         <td>Day 27</td>
         <td>Deep Dive into Machine Learning</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>17-Sep-2017</td>
         <td>Day 28</td>
         <td>Advanced ML</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>7-Oct-2017</td>
         <td>Day 29</td>
         <td>Hadoop Intro</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>8-Oct-2017</td>
         <td>Day 30</td>
         <td>Mapreduce</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>14-Oct-2017</td>
         <td>Day 31</td>
         <td>Pig</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>15-Oct-2017</td>
         <td>Day 32</td>
         <td>Hive</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>28-Oct-2017</td>
         <td>Day 33</td>
         <td>Spark</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>29-Oct-2017</td>
         <td>Day 34</td>
         <td>Spark</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>11-Nov-2017</td>
         <td>Day 35</td>
         <td>Spark</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>12-Nov-2017</td>
         <td>Day 36</td>
         <td>Big Data Use case</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>18-Nov-2017</td>
         <td>Day 37</td>
         <td>Big Data Problem</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>19-Nov-2017</td>
         <td>Day 38</td>
         <td>Big Data problem</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>25-Nov-2017</td>
         <td>Day 39</td>
         <td>Data Visualisation</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>26-Nov-2017</td>
         <td>Day 40</td>
         <td>Data Visualisation</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>2-Dec-2017</td>
         <td>Day 41</td>
         <td>Deployments</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>3-Dec-2017</td>
         <td>Day 42</td>
         <td>Deployments</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>9-Dec-2017</td>
         <td>Day 43</td>
         <td>Capstone</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>10-Dec-2017</td>
         <td>Day 44</td>
         <td>Capstone</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>16-Dec-2017</td>
         <td>Day 45</td>
         <td>Capstone</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>17-Dec-2017</td>
         <td>Day 46</td>
         <td>Capstone</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>23-Dec-2017</td>
         <td>Day 47</td>
         <td>Capstone</td>
         <td></td>
         <td></td>
      </tr>
      <tr>
         <td>24-Dec-2017</td>
         <td>Day 48</td>
         <td>Final Capstone Demo &amp; Graduation</td>
         <td></td>
         <td></td>
      </tr>
   </tbody>
</table>
     <h4 class="text-info">The agenda above is confirmed until 23 July. Upcoming sessions and dates will be communicated in the coming weeks</h4>
      
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Program Calendar</h3>
         <img src="assets/img/programe-calender.jpg"  class="img-responsive">
         <ul>
            <li>Industry Projects will start from Machine learning weeks</li>
            <li>From machine learning - every topic will have one industry speaker to demonstrate the practical use case</li>
            <li>There will be sessions on career services and building candidate's profile for industry. This includes - outbound prospecting, how to approach an employer, how to negotiate etc..</li>
            <li>Majority of the program will be complete by Nov-17.</li>
         </ul>
        </div>
      </div>                                                                                                      
   </div>
</div>
<!--=include common/footer.html -->