<!--=include common/header.html -->
<!--=include common/navigation.html -->
<div class="main-container">
	<div class="container">
		  <h2>My Schedule</h2>
		  <p>Full stack data science program timeline and schedule</p>            
		  <table class="table table-striped table-bordered">
		    <thead>
		    	<colgroup>
			      <col width="130">
			      <col width="100">
			      <col>
			      <col>
			      <col>
			   </colgroup>
		      <tr>
		        <th>Date</th>
		        <th>Day#</th>
		        <th>Session</th>
		        <th>Instructor</th>
		        <th>Videos</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<colgroup>
			      <col width="130">
			      <col width="100">
			      <col>
			      <col>
			      <col>
			   </colgroup>
		      <tr>
		         <td>29-July-2017</td>
		         <td>Day 1</td>
		         <td>Intro to Data Science</td>
		         <td>
		         	<a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a>
		         	<br />
		         	<a rel="noopener noreferrer" href="https://www.linkedin.com/in/mehul-chopra-29049b6a/" target="_blank">Mehul Chopra</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/227878656">&nbsp;Introduction</a></span>
		            <br />
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/227878317">&nbsp;Panel discussion</a></span>
		            <br />
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/227878643">&nbsp;Commit.live tool</a></span>
		            <br />
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/227887919">&nbsp;Tech Basics -Git</a></span>
		         </td>
		      </tr>
		      <tr>
		         <td>30-July-2017</td>
		         <td>Day 2</td>
		         <td>Tech Basics</td>
		         <td>
		           <a rel="noopener noreferrer" href="https://www.linkedin.com/in/mehul-chopra-29049b6a/" target="_blank">Mehul Chopra</a>
		         </td>
	      		 <td>
		           <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/228018729">&nbsp;Tech Basics - Git 2</a></span>
		            <br />
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/227889287">&nbsp;Tech Basics - SSH for GitHub etc.</a></span>
		            <br />
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/228015501">&nbsp;Tech Basics - Linux, Mac, Command prompt etc.</a></span>
		         </td>
		      </tr>
		      
		     
		    </tbody>
		  </table>
		  																																		
		</div>
</div>
<!--=include common/footer.html -->