<!--=include common/header.html -->
<!--=include common/navigation.html -->
<div class="main-container">
	<div class="container">
		  <h2>My Schedule</h2>
		  <p>Full stack data science program timeline and schedule</p>            
		  <table class="table table-striped table-bordered">
		    <thead>
		    	<colgroup>
			      <col width="130">
			      <col width="100">
			      <col>
			      <col>
			      <col>
			   </colgroup>
		      <tr>
		        <th>Date</th>
		        <th>Day#</th>
		        <th>Session</th>
		        <th>Instructor</th>
		        <th>Videos</th>
		      </tr>
		    </thead>
		    <tbody>
		    	<colgroup>
			      <col width="130">
			      <col width="100">
			      <col>
			      <col>
			      <col>
			   </colgroup>
		      <tr>
		         <td>12-Jun-2017</td>
		         <td>Day 1</td>
		         <td>Intro to Data Science</td>
		         <td>
		            Internal GA + <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a> (2 hrs)
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222494452">&nbsp;Introduction-1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222496635">&nbsp;Introduction-2</a></span>
		         </td>
		      </tr>
		      <tr>
		         <td>13-Jun-2017</td>
		         <td>Day 2</td>
		         <td>Tech Basics</td>
		         <td>
		           <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222498702">&nbsp;Tech Basics -1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222500512">&nbsp;Tech Basics -2</a></span>
		         </td>
		      </tr>
		      <tr>
		         <td>14-Jun-2017</td>
		         <td>Day 3</td>
		         <td>Python Basics</td>
		         <td>
		           <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222504617">&nbsp;Tech Basics & Python Basics -1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222625861">&nbsp;Tech Basics & Python Basics-2</a></span>
		         </td>
		      </tr>
		      <tr>
		         <td>15-Jun-2017</td>
		         <td>Day 4</td>
		         <td>Python Basics</td>
		         <td>
		           <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222626887">&nbsp;Python Basics and Intermediate -1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222626309">&nbsp;Python Basics and Intermediate -2</a></span>
		         </td>
		      </tr>
		      <tr>
		         <td>16-Jun-2017</td>
		         <td>Day 5</td>
		         <td>Python Intermediate</td>
		         <td>
		           <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222627553">&nbsp;Python Intermediate - 1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/222627204">&nbsp;Python Intermediate - 2</a></span>
		         </td>
		      </tr>
		      <tr>
		         <td>19-Jun-2017</td>
		         <td>Day 6</td>
		         <td>Python Intermediate</td>
		         <td>
		           <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223267557">&nbsp;Python Intermediate - 3</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223266710">&nbsp;Python Intermediate - 4</a></span>
	       		 </td>
		      </tr>
		      <tr>
		         <td>20-Jun-2017</td>
		         <td>Day 7</td>
		         <td>Python Advanced</td>
		         <td>
		           <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223268524">&nbsp;Advanced Python - Matplotlib and other topics -1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223278782">&nbsp;Advanced Python - Matplotlib and other topics -2</a></span>
		        </td>
		      </tr>
		      <tr>
		         <td>21-Jun-2017</td>
		         <td>Day 8</td>
		         <td>Python Advanced + Web Scraping</td>
		         <td>
		           <a href="linkedin.com/in/mayureshshilotri" target="_blank">Bhumil Haria</a>
		         </td>
	      		 <td>
		            <span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223247999">&nbsp;Python Advanced - Pandas -1</a></span><br /><span><i class="fa fa-file-video-o text-info" aria-hidden="true"></i><a target="_blank" href="/video/223248706">&nbsp;Python Advanced - Pandas -2</a></span>
		        </td>
		      </tr>
		      <tr>
		         <td>22-Jun-2017</td>
		         <td>Day 9</td>
		         <td>Python Project</td>
		         <td>GA Internal</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>23-Jun-2017</td>
		         <td>Day 10</td>
		         <td>Python Project</td>
		         <td>GA Internal</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>26-Jun-2017</td>
		         <td></td>
		         <td>HOLIDAY</td>
		         <td></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>27-Jun-2017</td>
		         <td>Day 11</td>
		         <td>Introduction to Machine Learning - Part 1</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/223870090">&nbsp;Practical Machine Learning - Inferential Statistics</a>
      		 		</span>
	      		 </td>
		      </tr>
		      <tr>
		         <td>28-Jun-2017</td>
		         <td>Day 12</td>
		         <td>Introduction to Machine Learning - Part 2 with basic EDA</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/223870321">&nbsp;Introduction to Machine Learning - Part 2 with basic EDA</a>
      		 		</span>
      		 	</td>
		      </tr>
		      <tr>
		         <td>29-Jun-2017</td>
		         <td>Day 13</td>
		         <td>Descriptive Statistics & EDA</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/223870454">&nbsp;Descriptive Statistics</a>
      		 		</span><br />
      		 		<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/223870751">&nbsp;Machine Learning - EDA -Part 1</a>
      		 		</span>
      		 	</td>
		      </tr>
		      <tr>
		         <td>30-Jun-2017</td>
		         <td>Day 14</td>
		         <td>Practical Machine Learning - EDA Assignments</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>3-Jul-2017</td>
		         <td>Day 15</td>
		         <td>Practical Machine Learning - Inferential Statistics</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224463185">&nbsp;Descriptive and Inferential Statistics</a>
      		 		</span>
      		 	</td>
		      </tr>
		      <tr>
		         <td>4-Jul-2017</td>
		         <td>Day 16</td>
		         <td>Practical Machine Learning - Feature Engineering</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224463849">&nbsp;Web Scraping</a>
      		 		</span>
      		 		<br />
      		 		<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224464422">&nbsp;Web Scraping - Problem</a>
      		 		</span>
      		 	</td>
		      </tr>
		      <tr>
		         <td>5-Jul-2017</td>
		         <td>Day 17</td>
		         <td>Practical Machine Learning - Feature Selection , Image & Text processing</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224465199">&nbsp;Statistics</a>
      		 		</span>
      		 		<br />
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224464647">&nbsp;Feature Engineering</a>
      		 		</span>
      		 		<br />
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224599740">&nbsp;Feature Engineering -2</a>
      		 		</span>
      		 	</td>
		      </tr>
		      <tr>
		         <td>6-Jul-2017</td>
		         <td>Day 18</td>
		         <td>Practical Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224749036">&nbsp;Feature Engineering Selection</a>
      		 		</span>
      		 	</td>
		      </tr>
		      <tr>
		         <td>7-Jul-2017</td>
		         <td>Day 19</td>
		         <td>Practical Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td>
	      		 	<span>
	      		 		<i class="fa fa-file-video-o text-info" aria-hidden="true"></i>
      		 			<a target="_blank" href="/video/224749136">&nbsp;Practical Machine Learning - Image & Text processing</a>
      		 		</span>
      		 	</td>
		      </tr>
		      <tr>
		         <td>10-Jul-2017</td>
		         <td>Day 20</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>11-Jul-2017</td>
		         <td>Day 21</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>12-Jul-2017</td>
		         <td>Day 22</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>13-Jul-2017</td>
		         <td>Day 23</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>14-Jul-2017</td>
		         <td>Day 24</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>20-Jul-2017</td>
		         <td>Day 25</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>21-Jul-2017</td>
		         <td>Day 26</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>24-Jul-2017</td>
		         <td>Day 27</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>25-Jul-2017</td>
		         <td>Day 28</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>26-Jul-2017</td>
		         <td>Day 29</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>27-Jul-2017</td>
		         <td>Day 30</td>
		         <td>Deep Dive into Machine Learning</td>
		         <td><a rel="noopener noreferrer" href="https://www.linkedin.com/in/mayureshshilotri" target="_blank">Mayuresh Shilotri</a></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>28-Jul-2017</td>
		         <td>Day 31</td>
		         <td>Advanced ML</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>31-Jul-2017</td>
		         <td>Day 32</td>
		         <td>Hadoop Intro</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>1-Aug-2017</td>
		         <td>Day 33</td>
		         <td>Mapreduce</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>2-Aug-2017</td>
		         <td>Day 34</td>
		         <td>Pig</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>3-Aug-2017</td>
		         <td>Day 35</td>
		         <td>Hive</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>4-Aug-2017</td>
		         <td>Day 36</td>
		         <td>Spark</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>7-Aug-2017</td>
		         <td>Day 37</td>
		         <td>Spark</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>8-Aug-2017</td>
		         <td>Day 38</td>
		         <td>Spark</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>9-Aug-2017</td>
		         <td>Day 39</td>
		         <td>Big Data Use case</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>10-Aug-2017</td>
		         <td>Day 40</td>
		         <td>Big Data Problem</td>
		         <td>Big Data Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>11-Aug-2017</td>
		         <td>Day 41</td>
		         <td>Big Data problem</td>
		         <td>Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>14-Aug-2017</td>
		         <td>Day 42</td>
		         <td>Data Visualisation</td>
		         <td>Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>15-Aug-2017</td>
		         <td></td>
		         <td>HOLIDAY</td>
		         <td></td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>16-Aug-2017</td>
		         <td>Day 43</td>
		         <td>Data Visualisation</td>
		         <td>Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>17-Aug-2017</td>
		         <td>Day 44</td>
		         <td>Data Visualisation</td>
		         <td>Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>18-Aug-2017</td>
		         <td>Day 45</td>
		         <td>Data Visualisation</td>
		         <td>Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>21-Aug-2017</td>
		         <td>Day 46</td>
		         <td>Deployments</td>
		         <td>Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>22-Aug-2017</td>
		         <td>Day 47</td>
		         <td>Deployments</td>
		         <td>Industry + Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>23-Aug-2017</td>
		         <td>Day 48</td>
		         <td>Deployments</td>
		         <td>Data Science Instructor</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>24-Aug-2017</td>
		         <td>Day 49</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>25-Aug-2017</td>
		         <td>Day 50</td>
		         <td>Holiday</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>28-Aug-2017</td>
		         <td>Day 51</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>29-Aug-2017</td>
		         <td>Day 52</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>30-Aug-2017</td>
		         <td>Day 53</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>31-Aug-2017</td>
		         <td>Day 54</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>1-Sep-2017</td>
		         <td>Day 55</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>4-Sep-2017</td>
		         <td>Day 56</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>5-Sep-2017</td>
		         <td>Day 57</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>6-Sep-2017</td>
		         <td>Day 58</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>7-Sep-2017</td>
		         <td>Day 59</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>8-Sep-2017</td>
		         <td>Day 60</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>11-Sep-2017</td>
		         <td>Day 61</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>12-Sep-2017</td>
		         <td>Day 62</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>13-Sep-2017</td>
		         <td>Day 63</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>14-Sep-2017</td>
		         <td>Day 64</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>15-Sep-2017</td>
		         <td>Day 65</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>18-Sep-2017</td>
		         <td>Day 66</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>19-Sep-2017</td>
		         <td>Day 67</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>20-Sep-2017</td>
		         <td>Day 68</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>21-Sep-2017</td>
		         <td>Day 69</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		      <tr>
		         <td>22-Sep-2017</td>
		         <td>Day 70</td>
		         <td>Capstone</td>
		         <td>Teams</td>
	      		 <td></td>
		      </tr>
		     
		    </tbody>
		  </table>
		  <h4 class="text-info">The agenda above is confirmed until 27th July. Upcoming sessions and dates will be communicated in the coming weeks</h4>
			
			<div class="panel panel-default">
			  <div class="panel-body">
			    <h3>Program Calendar</h3>
			  	<img src="assets/img/programe-calender-14-june.jpg"  class="img-responsive">
			  	<ul>
			  		<li>Industry Projects will start from Machine learning weeks</li>
			  		<li>From machine learning - every topic will have one industry speaker to demonstrate the practical use case</li>
			  		<li>Industry interaction will start from machine learning weeks</li>
			  		<li>There will be sessions on career services and building candidate's profile for industry. This includes - outbound prospecting, how to approach an employer, how to negotiate etc..</li>
			  	</ul>
			  </div>
			</div>																																		
		</div>
</div>
<!--=include common/footer.html -->