<!--=include common/header.html -->
<!--=include common/navigation.html -->
<div class="quiz-test-wrapper">
	<h2 class="quiz-name">Python Basics Quiz
		<small class="question-count">
			25/25 questions
		</small>
	</h2>
		<form>
			<h4 class="alert alert-success">You have completed your quiz attempt. You have scored 8 point(s).</h4><!-- bg-success report-wrap -->
			<div class="quiz-test">

				<h4 class="question">1. Which of the following data types is not supported in python?</h4>
					<div class="checkbox">
						<div class="quiz-inner quiz-indicator-wrong-right">
							<label>
								<div class="pull-left quiz-indicator text-success">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								 <img src="../setting-dashboard/assets/img/code-img-opt.png">
							</label>
						</div>
						<div class="quiz-inner quiz-indicator-wrong">
							<label>
								
								<div class="pull-left quiz-indicator text-success">
									<i class="fa fa-close" aria-hidden="true"></i>
								</div>
								<img src="../setting-dashboard/assets/img/code-img-opt.png">
							</label>
						</div>
					</div>


			</div>

			<div class="quiz-test">

				<h4 class="question">2. Which of the following data types is not supported in python?</h4>
					<div class="checkbox">
						<div class="quiz-inner quiz-indicator-right">
							<label>
								<div class="pull-left quiz-indicator text-success">
									<i class="fa fa-check" aria-hidden="true"></i>
								</div>
								 <img src="../setting-dashboard/assets/img/code-img-opt.png">
							</label>
						</div>
					</div>


			</div>
		</form>
	
</div>
<!-- <div class="container" style="">
	<div class="col-sm-8" style=" background: #f1f1f1; min-height: 400px; margin: 0 auto;">
		ss
	</div>
</div> -->
<!--=include common/footer.html 