<!--=include common/header.html -->
<!--=include common/navigation.html -->
<div class="quiz-test-wrapper">
	<h2 class="quiz-name">Python Basics Quiz
		<small class="question-count">
			1/25 questions
		</small>
	</h2>
		<form>
			<div class="quiz-test">
				<h4 class="question">1. Which of the following data types is not supported in python?</h4>
					<!-- <div class="radio">
						<label>
							<input type="radio" name="opt"> Numbers
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="opt"> String
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="opt"> List
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="opt"> Slice
						</label>
					</div> -->
					<div class="checkbox">
						<div class="quiz-inner">
							<label>
								<input type="radio" name="opt1"> supported in python
							</label>
						</div>
						<div class="quiz-inner">
							<label>
								<input type="checkbox" name="opt2"> This code stretches
							</label>
						</div>
						<div class="quiz-inner">
							<label>
								<input type="checkbox" name="opt3"> The iframe is seamless
							</label>
						</div>
						<div class="quiz-inner">
							<label>
								<input type="checkbox" name="opt4"> position fixed
							</label>
						</div>
					</div>
					<p class="alert alert-danger">Please select answer.</p>
			</div>
			<div class="next-question-btn">
				<button type="button" class="btn btn-lg btn-secondary">Back</button>
				<button type="button" class="btn btn-lg btn-primary">Next</button>
				<!-- 
				<div class="question-count">
					1/25 questions
				</div> -->
			</div>
		</form>
	
</div>
<!-- <div class="container" style="">
	<div class="col-sm-8" style=" background: #f1f1f1; min-height: 400px; margin: 0 auto;">
		ss
	</div>
</div> -->
<!--=include common/footer.html 