<!--=include common/header.html -->
<style type="text/css">body{background: #fafafa;}</style>

<div class="form-signin">
  <form>
  <p class="logo">
    <img src="../../assets/img/commit-live-login.png" alt="">
  </p>
    <div class="form-heading">Reset password</div>
    <p>Enter your email address, and we will send you an email with a link to reset your password.</p>
    <div class="form-group">
      <label for="exampleInputEmail1">Email ID</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="enter your email id">
    </div>
    <a href="reset-password-change.html" class="btn btn-primary btn-lg btn-block">Reset</a>
    <p class="login-link">
      <a href="index.html">Return to login</a>
    </p>
  </form>
</div>
<!--=include common/footer.html -->