<!--=include common/header.html -->
<!--=include common/navigation.html -->


<div class="container search-results">
	<p class="results-found">
		13 results found for '<b>Javascript</b>'
	</p>
	<div class="row">
		<div class="col-sm-12">
			<ul>
				<li>
					<a href="#" class="title">Javascript library</a>
					<p>
						built-in way to determine when a page is loaded. You'll be coding along in `index.html` and `script.js`. In `script.js`, we need to set up a document ready in order to detect when our HTML page has loaded, and the document is ready to be manipulated: ```js $(document).ready(function() { // code to be executed goes here }); ``` The `$` is a shortcut for `jQuery`, and provides an interface to the library. Every time you see `$`, think `jQuery`. Once the `load` event fires (which we've told jQuery to
					</p>
					<a href="#" class="read-more">read more...</a>
				</li>
				<li>
					<a href="#" class="title">Hoisting</a>
					<p>
						defined inside of a function are not accessible to the outside. ```js function myFunction(){ console.log(word) var word = "cake"; } ``` Before reading on, what do you think the above will print? What did we say happens to variables in the previous section? Ready? Are you sure? It would print out `undefined`. That's because variable hoisting just raises the **variable declaration**. JavaScript reads the above code like this: ```js function myFunction(){ var word; console.log(word); word
					</p>
					<a href="#" class="read-more">read more...</a>
				</li>
				<li>
					<a href="#" class="title">Functions Lab</a>
					<p>
						`holidayCountdown`. This function should accept two parameters, the holiday name and number of days till that holiday. The function should return the string `"It's ${days} days until ${holiday}!"`
					</p>
					<a href="#" class="read-more">read more...</a>
				</li>
				<li>
					<a href="#" class="title">Beatles Loops Lab</a>
					<p>
						the musicians array. The function should return the array of new strings. + Create a function `johnLennonFacts`. This function will accept one argument, an array of facts about John Lennon (note that it might not be exactly the following facts): ```js const facts = [ "He was the last Beatle to learn to drive", "He was never a vegetarian", "He was a choir boy and boy scout", "He hated the sound of his own voice" ]; ``` Use a while loop to loop over the facts array and add `"!!!"` to the end
					</p>
					<a href="#" class="read-more">read more...</a>
				</li>
				<li>
					<a href="#" class="title">Deli Counter</a>
					<p>
						line is currently: 1. Grace, 2. Kent, 3. Matz" nowServing(katzDeliLine); // "Currently serving Grace." 
					</p>
					<a href="#" class="read-more">read more...</a>
				</li>
			</ul>
		</div>
		<ul class="pagination">
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div>
</div>

<!--=include common/footer.html -->
