<!--=include common/header.html -->
<style type="text/css">body{background: #fafafa;}</style>

<div class="form-signin">
  <form>
    <p class="logo">
      <img src="../../assets/img/commit-live-login.png" alt=""  >
    </p>
    <div class="form-heading">Set password</div>
    <p>Please set a password for your account.</p>
    <div class="form-group">
      <label for="exampleInputEmail1">Password</label>
      <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Enter password">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Confirm password</label>
      <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Re-enter a password">
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Set password</button>
    <p class="login-link">
      <a href="index.html">Return to login</a>
    </p>
  </form>
</div>
<!--=include common/footer.html -->