<!--=include common/header.html -->
<!--=include common/navigation.html -->

 <!-- Student Completion Status -->
 <div class="container student-assignment-status">
	<h3>Quiz Completion Status</h3>
	
	<div class="student-status">
		<div class="container">
			<div class="row">
				<p>Select Quiz to view status</p>
				
				<div class="col-sm-4">
					<select class="form-control js-example-basic-single">
					  	<option value="m17">--Select Quiz---</option>
					    <option value="commitLive">Commit Live</option>
					    <option value="techBasic">Tech Basics</option>
					    <option value="pythonBasic">Python Basics</option>
					    <option value="pythonIntermediate">Python Intermediate</option>
					    <option value="pythonAdvance">Python Advace</option>
					</select>
				</div>
			</div>
		</div>
	</div>

	<!-- Before selecting the values from dropdown -->
	<div class="no-assignment-data" style="display: none">Select Quiz from the dropdown to view status</div>
	<div class="student-status-table">
		<table class="table table-stripeds table-bordered">
		    <thead>
		        <tr>
		            <th width="8%">Completed</th>
		            <th width="8%">Total</th>
		            <th width="8%">Average</th>
		        </tr>
		    </thead>

		    <tbody>
		        <tr>
		            <td width="8%" class="text-right">2</td>
		            <td width="8%" class="text-right">3</td>
		            <td width="8%" class="text-right">4.5</td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<!--=include common/footer.html -->