<!--=include common/header.html -->
<!--=include common/navigation.html -->

  <!-- <body class="profile-page"> -->
	<div class="container-fliud student-profile-wrapper">
		<div class="col-sm-11 student-profile">
			<div class="student-information">
				<div class="profile-photo">
					<img src="../../assets/img/profile-1.jpg" alt="">
				</div>
				<div class="student-details">
					<div class="name">
						Samuel Smith
						<div class="social-profile">
							<a href="http://www.greyatom.com/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
							<a href="http://www.greyatom.com/" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
						</div>
					</div>
					<div class="tagline">
						Product, Engineering at Google
					</div>
					<div class="highlights">
						<div class="wrapper">
							<span class="heading">Highlights:</span>
							<span>Big Data, Machine Learning, Mathematics, Python</span>
						</div>
						<div class="download-pdf">
							<button type="button">
								<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-details-panel">
				<div class="row">
					<div class="col-sm-8">
						<h2>Course: Data Science Engineering Summer 2017</h2>

						<div class="student-projects">
							<div class="projects-row">
								<div class="heading">Projects</div>
								<div class="project-details">
									<div class="project-list-row">
										<div class="project-name">Titanic dataset from Kaggle</div>
										<p class="project-desc">
											This is the first dataset, I recommend to any starter and for a good reason – the problem looks simple at the outset.
										</p>
										<p>
											<a href="#" class="btn btn-default btn-sm">
												<i class="fa fa-github" aria-hidden="true"></i> View on GitHub
											</a>
										</p>
									</div>
									<div class="project-list-row">
										<div class="project-name">Movie Lens Data</div>
										<p class="project-desc">
											I couldn’t have left this data set out. Bigger than some of the other data sets mentioned in the article, but provides a lot of fun.
										</p>
										<p>
											<a href="#" class="btn btn-default btn-sm">
												<i class="fa fa-github" aria-hidden="true"></i> View on GitHub
											</a>
										</p>
									</div>
									<div class="project-list-row">
										<div class="project-name">Identify your Digits Data Set</div>
										<p class="project-desc">
											This data set allows you to study, analyze and recognize elements in the images. 
										</p>
										<p>
											<a href="#" class="btn btn-default btn-sm">
												<i class="fa fa-github" aria-hidden="true"></i> View on GitHub
											</a>
										</p>
									</div>
								</div>
							</div>

							<div class="projects-row">
								<div class="heading">Distinctions</div>
								<div class="distinction">
									<ul>
										<li>Top 10% in class</li>
										<li>Best in Mathematics, NLP and Data Science</li>
										<li>All assignments in time</li>
										<li>Great code efficiency</li>
									</ul>
								</div>
							</div>

							<div class="projects-row">
								<div class="heading">Course Certificates</div>
								<div class="certificates-panel">
									<div class="col-sm-6">
										<div class="certificate-col">
											<img src="../../assets/img/certificate.jpg" alt="">
											<div class="overlay">
												Javascript: Introduction
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="certificate-col">
											<img src="../../assets/img/certificate.jpg" alt="">
											<div class="overlay">
												Solving labs on GreyAtom
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- <div class="heading">Skill set</div>
							<div class="skillset-details">
								<div class="skillset-row">
									<div class="col-sm-4">Mathematics</div>
									<div class="col-sm-8 skillset-row">
										<div class="skillset-stage">
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											<div class="stage-box green">&nbsp;</div>
											Excellent
										</div>
									</div>
								</div>
								<div class="skillset-row">
									<div class="col-sm-4">NLP</div>
									<div class="col-sm-8 skillset-row">
										<div class="skillset-stage">
											<div class="stage-box orange">&nbsp;</div>
											<div class="stage-box orange">&nbsp;</div>
											<div class="stage-box orange">&nbsp;</div>
											<div class="stage-box orange">&nbsp;</div>
											<div class="stage-box orange">&nbsp;</div>
											<div class="stage-box orange">&nbsp;</div>
											<div class="stage-box blank">&nbsp;</div>
											<div class="stage-box blank">&nbsp;</div>
											<div class="stage-box blank">&nbsp;</div>
											Average
										</div>
									</div>
								</div>
								<div class="skillset-row">
									<div class="col-sm-4">Big Data</div>
									<div class="col-sm-8 skillset-row">
										<div class="skillset-stage">
											<div class="stage-box red">&nbsp;</div>
											<div class="stage-box red">&nbsp;</div>
											<div class="stage-box red">&nbsp;</div>
											<div class="stage-box red">&nbsp;</div>
											<div class="stage-box red">&nbsp;</div>
											<div class="stage-box blank">&nbsp;</div>
											<div class="stage-box blank">&nbsp;</div>
											<div class="stage-box blank">&nbsp;</div>
											<div class="stage-box blank">&nbsp;</div>
											Good
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="col-sm-4 right-panel">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<img src="../../assets/img/stack-overflow-logo.png" alt="">
						    	<span class="box-title">Stack Overflow Stats</span>
						    </h3>
						  </div>
						  <div class="panel-body">
						    <ul>
						    	<li>
						    		<div class="stats-h"># Questions asked</div>
						    		<div class="stats-numbers">21</div>
						    	</li>
						    	<li>
						    		<div class="stats-h"># Questions answered</div>
						    		<div class="stats-numbers">121</div>
						    	</li>
						    	<li>
						    		<div class="stats-h">Reputation</div>
						    		<div class="stats-numbers">10</div>
						    	</li>
						    	<li>
						    		<div class="stats-h">Acceptance rate</div>
						    		<div class="stats-numbers">45%</div>
						    	</li>
						    	<li>
						    		<div class="stats-h">Medals count</div>
						    		<div class="stats-numbers">
							    		<span class="so-badge badge-gold" data-toggle="tooltip" data-placement="bottom" title="GOLD">&nbsp;</span>5
							    		<span class="so-badge badge-silver" data-toggle="tooltip" data-placement="bottom" title="SILVER">&nbsp;</span>8
							    		<span class="so-badge badge-bronze" data-toggle="tooltip" data-placement="bottom" title="BRONZE">&nbsp;</span>10
							    	</div>
						    	</li>
						    </ul>
						  </div>
						</div>
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">
						    	<img src="../../assets/img/github-logo.png" alt="">
						    	<span class="box-title">GitHub Stats</span>
						    </h3>
						  </div>
						  <div class="panel-body">
						    <ul>
						    	<li>
						    		<div class="stats-h"># Test cases passed</div>
						    		<div class="stats-numbers">21</div>
						    	</li>
						    	<li>
						    		<div class="stats-h"># Lines of code</div>
						    		<div class="stats-numbers">12,253</div>
						    	</li>
						    	<li>
						    		<div class="stats-h"># Repos</div>
						    		<div class="stats-numbers">10</div>
						    	</li>
						    	<li>
						    		<div class="stats-h"># Commits</div>
						    		<div class="stats-numbers">45%</div>
						    	</li>
						    	<li>
						    		<div class="stats-h">Following</div>
						    		<div class="stats-numbers">11</div>
						    	</li>
						    	<li>
						    		<div class="stats-h">Repos with languages</div>
						    		<div class="stats-numbers">
						    			<div class="small-h">
						    				<span>Java - </span>
						    				<span class="count">20</span>
						    			</div>
						    			<div class="small-h">
						    				<span>Javascript - </span>
						    				<span class="count">2</span>
						    			</div>
						    			<div class="small-h">
						    				<span>iOS - </span>
						    				<span class="count">1</span>
						    			</div>
						    		</div>
						    	</li>
						    </ul>
						  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
$(document).ready(function() {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<!--=include common/footer.html -->