@import 'gb';
@import 'print';
@import '../../../bower_components/bootstrap/less/tables';
body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.ga-dashboard  {
    padding-left:50px;
    padding-right: 50px;

    .panel{
        border: 0;

        .panel-heading{
            background-color: transparent;
            border: 0;
            padding: 10px 0;

            .panel-title{
                text-transform: uppercase;
                font-size: 13px;
                font-weight: bold;
                color: rgba(100,100,100,.72);
                letter-spacing: .04rem;
            }
            &:after{
                clear: both;
                display: block;
                content: '';
            }
        }
        .panel-body{
            border: 1px solid #d8e2e7;
        }
    }
}
.navbar{
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    z-index: 99999;
    position: fixed;
    width: 100%;
    top: 0;

    li>a#main-menu-a{
        font-size: 18px;
        padding-right: 5px;

        .caret{
            margin-left: 5px;
        }
    }
}
.icon-text-nav {
    >a {
        >i {
            font-size: 1.8rem;
        }
        .label {
            position: absolute;
            top: 4px;
            right: 4px;
        }
    }
    a i {
            margin-right: 2px;
        }
    .dropdown-menu h4{
        padding: 5px 20px;
        font-size: 1.3rem;
        margin-bottom: 4px;
        color: #999;
        border-bottom: 1px solid #eee;
    }
}
#search-dropdown{
    display: none;
    height: 100px;
    border: solid 1px #ddd;
    position: absolute;
    min-width: 300px;
    right: 0;
    background: #fff;
    max-width: 300px;
    min-height: 250px;
    max-height: 400px;
    overflow-y: auto;

    ul{
        margin: 0;
        padding: 0;

        li{
            list-style-type: none;

            a{
                padding: 10px;
                border-bottom: 1px solid #f2f2f2;
                display: block;

                &:hover{
                    text-decoration: none;
                    background: #f1f1f1;
                }
            }
        }
    }
}

.nav-profile-img
{
    a{
        background: transparent!important;
        padding-top: 10px!important;
        padding-bottom: 0!important;
    }
    img{
        float: left;
        display: block;
        height: 32px;
        width: 32px;
        margin: -1px 3px -1px 0;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid transparent;
        -webkit-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }
}
.chatlio-widget{
    top: 52px!important;
    width: 250px!important;
    bottom: 0!important;
}
#chatlio-widget .chatlio-new-message-container{
    bottom: 31px!important;
}
.chatlio-widget.closed{
    right: 8px!important;
    width: 230px!important;
    top: 115px!important;
}
.lesson-status-jupyter-notebook{
    background: #f1f1f1;
    width: 50%;
    height: 50px;
    border-top: #ccc 1px solid;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    box-shadow: -2px 0px 4px #ccc;

    .lesson-complete{
        padding: 5px 10px;
        margin-top: 0;

        .mark-done{
            margin-bottom: 10px;
            color: #333;
            float: left;

            &.success{
                color: #5cb85c;
            }
            &.error{
                color: #ff0000;
            }

            i{
                float: left;
                position: relative;
                top: 5px;
            }
            a{
                float: right;
            }
            &:after{
                clear: both;
                content: '';
                display: block;
            }
            .status{
                margin: 2px 10px 0 8px;
                float: left;
            }
        }
        .next-btn{
            display: block;
            width: inherit;
            float: left;
        }
    }
}
.right-sidebar{
    width: 250px;
    border-left: 1px solid #ccc;
    position: fixed;
    top: 51px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 10px;


    .activity-list{
        .heading{
            font-weight: bold;
            padding: 8px 15px;
            background: #f5f5f5;
            margin: -9px -10px 5px;
            z-index: 0;
        }
        ul{
            margin: 0 -10px 0;
            padding: 0;

            li{
                width: 100%;
                border-bottom: 1px solid #f1f1f1;
                padding: 8px 10px;
                list-style-type: none;
                display: table;

                .activity-user-img{
                    display: table-cell;
                    width: 32px;

                    img{
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                    }
                }
                .activity-user-detail{
                    display: table-cell;
                    padding-left: 10px;
                    vertical-align: top;

                    .username{
                        width: 100%;
                        font-size: 11px;
                        font-weight: bold;
                    }
                    .time{
                        width: 100%;
                        color: #999;
                        font-size: 11px;
                        margin-top: 2px;
                    }
                    .type{
                        width: 100%;
                        margin-top: 2px;
                        font-size: 12px;
                    }
                }
                &:after{
                    clear: both;
                    display: block;
                    content: '';
                    height: 0;
                }
            }
        }
    }
}
.lesson-complete{
    padding: 5px 10px;
    margin-top: 10px;


    .mark-done{
        margin-bottom: 10px;
        color: #ccc;

        &.success{
            color: #5cb85c;
        }
        &.error{
            color: #ff0000;
        }

        i{
            float: left;
            position: relative;
            top: 5px;
        }
        a{
            float: right;
        }
        &:after{
            clear: both;
            content: '';
            display: block;
        }
        .status{
            margin: 2px 10px 0 8px;
            float: left;
        }
    }
    .next-btn{
        display: block;
        width: 100%;
    }
}
.form-signin {
  max-width: 380px;
  margin: 8% auto 0;
  background-color: #fff;

  .logo{
    text-align: center;
    margin-bottom: 25px;

    img{
        width: 120px;
    }
  }

  form{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 25px 35px 30px;

    .login-github{
        font-size: 16px;
        margin-top: 30px;
        text-align: center;
        display: block;

        .fa-github{
            font-size: 20px;
            margin-right: 5px;
        }

        &:hover{
            text-decoration: none;
        }
    }
    .checkbox{
        margin-top: 0!important;
        margin-bottom: 0;
        font-size: 12px;
    }
    .remember-me:after{
        clear: both;
        content: '';
        display: block;
    }
    .forgot-passw{
        font-size: 12px;
    }
  }
  .form-heading{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .login-link{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 0;
  }
}

.left-column{
    position: fixed;
    left: 0;
    top: 51px;
    right: 250px;
    bottom: 0;
    overflow-y: auto;
    padding: 50px 50px 35px;
}
.row-spacing{
    margin-top: 15px;
}
.user-bubble-bar{
    float: right;
    small{
        color: #999;
    }
    ul{
        padding: 0;
        margin-top: 2px;
    }
    ul li{
        list-style: none;
        float: left;
        margin-right: 5px;

        &:last-child{
            margin-right: 0;
        }

        a{
            img{
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
        }
        .more-working{
            border: 1px solid #ccc;
            border-radius: 9999px;
            font-size: 9px;
            padding: 5px 4px 4px;
            color: #999;
        }
    }
}
.ga-dashboard{
    .panel{
        .panel-body{
            padding: 25px 25px;

            .current-course-name{
                float: left;
                max-width: 70%;
                margin-top: 5px;
            }

            &.course-completion{
                padding-top: 30px;
                min-height: 272px;
                padding: 0;

                .current-lesson{
                    font-size: 16px;
                    text-align: center;
                    // margin-bottom: 20px;
                    // white-space: nowrap;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    width: 100%;
                    padding: 15px 15px 0;
                    margin-bottom: 20px;
                }
                .details-row{
                    margin: 40px 0 30px;
                    text-align: center;

                    .chapter-name{
                        margin-bottom: 3px;

                        .fa{
                            color: #5cb85c;
                        }
                    }
                    .lesson-name{
                        font-size: 13px;
                        color: #adadad;
                    }
                    .heading{
                        display: block;
                        font-weight: normal;
                        text-transform: uppercase;
                        font-size: 12px;
                        color: #ccc;
                        margin-bottom: 2px;
                    }
                }
                .continue-btn{
                    float: left;
                    width: 100%;
                    text-align: center;
                    margin-top: 15px;
                }
            }
            &.current-status{
                padding: 0;
                min-height: 272px;

                .complete-percent{
                    text-align: center;
                    font-size: 60px;
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                .stats-columns{
                    padding: 0;
                }
                .progress{
                    height: 18px;
                    margin: 0 15px 8px;
                }
                .details-row{
                    margin-bottom: 0;
                    text-align: center;

                    // &:hover{
                    //     background: #f1f1f1;
                    // }

                    .heading{
                        display: block;
                        font-weight: normal;
                        text-transform: uppercase;
                        font-size: 11px;
                        color: #adadad;
                        margin-bottom: 2px;
                    }
                    .status-data{
                        font-size: 28px;
                    }
                }
                .progress-stats{
                    width: 100%;
                    text-align: center;
                    margin: 6px 5px 10px;
                    float: left;


                    .heading{
                        font-size: 13px;
                    }
                    .stats-count{
                        float: left;
                        width: inherit;
                        font-size: 14px;
                    }
                }
                .status-buttons{
                    padding: 0 10px;
                    text-align: center;
                }
            }
            &.upcoming-sessions{
                min-height: 272px;
                padding: 0;

                .title-small{
                    font-size: 11px;
                    text-align: center;
                    color: #ccc;
                    text-transform: uppercase;
                }
                .lesson-name{
                    font-size: 16px;
                    text-align: center;
                    margin-bottom: 20px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                    padding: 15px 15px 0;
                }
                .sessions-list{
                    width: 100%;
                    max-height: 213px;
                    height: 213px;
                    overflow-y: auto;
                    border-top: 1px solid #eeeeee;

                    .session-row{
                        padding: 9px 0 5px;
                        // &:nth-child(odd) {background: #f8f8f8}
                        border-top: 1px solid #f1f1f1;

                        &:first-child{
                            border-top: 0;
                        }

                        .icon{
                            display: table-cell;
                            padding: 0 13px 5px 10px;
                            width: 35px;
                            color: #ccc;
                        }
                        .session-name{
                            display: table-cell;
                            padding-right: 10px;
                            width: 100%;
                        }
                    }
                }
            }
            &.pending-labs{
                min-height: 272px;
                padding: 0;

                .pending-lessons-list{
                    width: 100%;
                    height: 348px;
                    overflow-y: auto;

                    .lesson-list{
                        .lesson-list-row{
                            padding: 10px 15px;
                            border-bottom: 1px solid #f1f1f1;

                            &:last-child{
                                border-bottom: 0;
                            }

                            .pending-chapter-name{
                                margin-bottom: 3px;

                                .fa{
                                    color: #ff0000;
                                    margin-right: 4px;
                                }
                            }
                            .pending-lesson-name{
                                font-size: 13px;
                                color: #adadad;
                                margin-left: 22px;

                                ul{
                                    margin: 0;
                                    padding: 0;
                                    li{
                                        list-style-type: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.so-stats-panel{
                height: 350px;
                padding: 0;
                overflow-y: auto;

                &.no-data{
                    height: 272px!important;
                    overflow: hidden;
                }

                .stats-list{
                    .stats-list-row{
                        float: left;
                        width: 100%;
                        padding: 10px 15px 10px 0;
                        border-bottom: 1px solid #d8e2e7;

                        &:last-child{
                            border-bottom: 0;
                        }
                    }
                    .stats-numbers{
                        float: left;
                        margin-right: 25px;
                        text-align: center;

                        .stats-box{
                            min-width: 50px;
                            display: inline-block;
                            padding: 8px 5px;

                            &.status{
                                border: 1px solid transparent;
                                padding: 8px 10px;

                                &.answered{
                                    border-color: rgba(69,161,99,0.5);
                                    color: #45A163;
                                }
                            }
                        }
                        .stats-box-h{
                            font-size: 11px;
                            color: #adadad;
                        }
                    }
                    .stats-summary{
                        color: #333;

                        .question{
                            font-size: 16px;
                            margin-bottom: 6px;
                        }
                        .tags{
                            float: left;

                            .post-tag{
                                position: relative;
                                display: inline-block;
                                padding: .4em .5em;
                                margin: 2px 2px 2px 0;
                                font-size: 12px;
                                line-height: 1;
                                white-space: nowrap;
                                text-decoration: none;
                                text-align: center;
                                border: 1px solid transparent;
                                transition: all .15s ease-in-out;
                                color: #39739d;
                                background-color: #E1ECF4;

                                &:hover{
                                    color: #33658a;
                                    background-color: #cee0ed;
                                }
                            }
                        }
                        .post-date{
                            width: auto;
                            line-height: inherit;
                            padding-top: 4px;
                            white-space: nowrap;
                            float: right;
                            font-size: 12px;
                            color: #adadad;

                            .post-count{
                                font-weight: bold;
                            }
                        }
                    }
                }

                ul{
                    margin: 0;
                    padding-left: 20px;

                    li{
                        margin-bottom: 8px;

                        a{
                            text-decoration: underline;
                        }
                    }
                }
            }
            &.recent-updates{
                padding: 0;

                .updates-list-outer{
                    max-height: 200px;
                    overflow-y: auto;

                    ul{
                        padding: 0;
                        li{
                            display: table;
                            border-bottom: 1px solid #ddd;
                            padding: 14px 25px;

                            div{
                                display: table-cell;
                                vertical-align: middle;
                            }

                            .profile-pic{

                                img{
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                }
                            }
                            .updates-content{
                                width: 100%;
                                padding: 0 20px;

                                .time{
                                    font-size: 12px;
                                    display: block;
                                    color: #999;
                                }

                                .update-type{
                                    display: block;
                                    font-weight: bold;
                                    font-size: 16px;
                                }
                            }
                            .github-link .fa-github{
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
        }//panel body ends
        .panel-title{
            float: left;
            .title-small{
                margin-bottom: 8px;
            }
        }
    }
}
.course-jupyter-notebook-left-panel{
    width: 50%;
    float: left;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 80px;
    padding: 0;

    .course-top-bar{
        // margin-top: 51px;
        float: left;
        width: inherit;
    }
    .course-detail{
        // margin-top: 111px;
        padding-top: 0;
        width: inherit;
        margin-bottom: 50px;
    }
}
.jupyter-notebook-panel{
    width: 50%;
    float: left;
    position: fixed;
    border-left: 4px solid #ccc;
    top: 51px;
    bottom: 0;
    right: 0;
    // box-shadow: inset 10px 0 9px -7px rgba(0,0,0,.15);

    &.notebook-widescreen{
        width: 100%!important;
        border-left: 0;
    }
    
    .hide-unhide{
        background: #ddd;
        border: 1px solid #d1d1d1;
        border-left: 0;
        position: absolute;
        text-align: center;
        width: 16px;
        text-align: center;
        top: 50%;
        outline: none;

        &:hover{
            background: #d8d8d8;
        }
    }
    .hide-notebook{
        border-left: 0;
        padding: 5px 0 5px 1px;
        border-top-right-radius: 3px;
        border-top-left-radius: 0px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 0px;
        z-index: 99999;
        background: #ddd;
        border: 1px solid #d1d1d1;
        border-left: 0;
        position: absolute;
        text-align: center;
        width: 16px;
        text-align: center;
        top: 50%;
        outline: none;

        &:hover{
            background: #d8d8d8;
        }

        .fa{
            font-size: 12px;
        }
    }
    
    .top-navigation{
        min-height: 60px;
        border-bottom: 1px solid #ccc;
        padding: 13px 18px 10px;

        .btn, a{
          float: left;
          margin-left: 5px;
        }
        .close-notebook{
            margin-top: 4px;
            float: right;
        }
        .expand-button{
            float: right;
            margin-top: 4px;
            margin-right: 5px;
            padding-bottom: 2px;
            padding-top: 6px
        }
        select, .Select{
            width: inherit;
            min-width: 150px;
            display: inline;
            float: left;
            // position: relative;
            // top: 2px;
            // right: 1px;

            position: relative;
            top: 4px;
            right: 1px;
            margin-right: 10px;
            height: 30px;
        }
        .Select{
            float: left;

            .Select-control{
                width: 270px;
                height: 28px;
            }
            .Select-value{
                line-height: 28px!important;
            }
            .Select-input{
              height: 28px;
            }
            .Select-clear-zone{
              display: none;
            }
            .Select-menu-outer{
              max-width: 350px;
            }
        }
        .btn-link, a{
            color: #777;
            top: 3px;
            position: relative;
            outline: none;

            &:hover{
                color: #333;
            }
        }
        button .fa, a .fa{
            font-size: 18px;
        }
    }
    iframe{
        border: 0;
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        top: 60px;
    }
}
.unhide-notebook{
    border-right: 0;
    padding: 5px 1px 5px 0;
    right: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    background: #ddd;
    border: 1px solid #d1d1d1;
    border-left: 0;
    position: absolute;
    text-align: center;
    width: 16px;
    text-align: center;
    top: 55%;
    outline: none;
    z-index: 99999;

    &:hover{
        background: #d8d8d8;
    }

    .fa{
        font-size: 12px;
    }
}
.course-top-bar{
    position: fixed;
    border-bottom: 1px solid #ccc;
    top: 51px;
    right: 250px;
    left: 0;
    padding: 14px 18px 6px 65px;
    z-index: 1;

    .open-jupyter-notebook{
        float: right;
        // margin-right: 15px;
        // margin: 8px 15px;
        // button{
        //     padding: 0;
        // }
        .btn{
            margin-top: 3px;
        }
    }
    .lesson-status{
        float: right;
        margin-right: 10px;
        position: relative;

        .status-panel{
            width: 200px;
            position: absolute;
            background-color: #f9f9f9;
            right: 0;

            .panel-body{
                min-height: 100px;
                padding: 0;

                .status-heading{
                    padding: 5px 10px;
                    // font-weight: bold;
                    border-bottom: 1px solid #d8e2e7;
                    background-color: #f3f3f3;
                }
            }
        }
    }

    .course-heading{
        float: left;
    }

    .buttons-wrapper{
        float: right;

        .icons-soc{
            float: left;
            margin-left: 10px;
            margin-top: 3px;

            a{
                color: #999;

                &:hover{
                    text-decoration: none;
                    color: #ffffff;
                }
            }

            // &.btn{
            //     margin-top: 5px;
            // }

            .fa{
                font-size: 20px;
                border: 1px solid #ccc;
                border-radius: 50%;
                width: 34px;
                height: 34px;
                text-align: center;
                display: table-cell;
                vertical-align: middle;

                &:hover{
                    background: #16c0f3;
                }
            }
        }
    }
}
.main-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    overflow-y: auto;
    top: 51px;
    padding-top: 20px;
}
.course-detail{
    top: 111px;
    padding-top: 0;

    table{
        .table;
        .table-condensed;
        .table-bordered;
        .table-striped;
        .table-responsive;
        .table-hover;
    }

    .course-content{

        .inner{
            width: 100%;
            // margin-top: 15px;
            float: left;

            &:before{
                clear: both;
                content: '';
                display: block;
            }

            h4{
                margin-top: 35px;
                // background: #f8f9fb;
                padding: 8px 10px 8px 65px;
                margin-right: -65px;
                margin-left: -65px;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;

                &:first-child{
                    margin-top: 25px;
                }
                .fa{
                    color: #5ec55e;
                }
            }
        }
        .resources{
            li{
                margin-bottom: 10px;
            }
        }
    }
}
.search-results{
    padding-bottom: 50px;

    .results-found{
        text-align: center;
        margin: 15px 0;
        font-size: 16px;
        background: #f1f1f1;
        padding: 5px 0;
    }
    ul.pagination{
            display: block;
            margin: 0 15px 30px;
            float: right;

        li{
            border-bottom: none;
            padding: 0!important;
        }
    }
    ul{
        margin-bottom: 25px;
        padding: 0;

        li{
            list-style-type: none;
            padding: 15px 10px 18px;
            border-bottom: 1px solid #ccc;

            a.title{
                font-size: 16px;
                font-weight: bold;
            }
            a.read-more{
                font-size: 12px;
                text-decoration: underline;
            }
            p{
                width: 99%;
                margin: 8px 0 5px;
                overflow: hidden;
                display: block;
                height: auto;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
    }
}

//Student's Profile Code Starts
body.student-profile{
    background: #f1f1f1!important;
}

.student-profile-wrapper{
    max-width: 1366px;
    margin: 0 auto;

    .student-profile{
        min-height: 500px;
        float: none;
        margin: 0 auto 0;
        padding-top: 25px;
        background: #fff;

        .student-information{
            background: #fff;
            border: 1px solid #e7e7e7;
            border-radius: 3px;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            padding: 15px;
            margin: 100px 10px 0 10px;

            .profile-photo{
                width: 130px;
                height: 130px;
                float: left;
                border: 1px solid #ccc;
                border-radius: 3px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .student-details{
                margin: 5px 0 0 150px;
                position: relative;

                .name{
                    font-size: 22px;
                    font-weight: bold;

                    .social-profile{
                        float: right;

                        .fa{
                            margin-left: 10px;
                            font-size: 28px;

                            &.fa-github-square{
                                color: #6e5494;
                                &:hover{
                                    color: #967abd;
                                }

                            }
                            &.fa-linkedin-square{
                                color: #0077B5;
                                &:hover{
                                    color: #028bd2;
                                }
                            }
                        }

                    }
                }
                .tagline{
                    color: #b5b5b5;
                }
                .highlights{
                    margin-top: 20px;

                    .wrapper{
                        float: left;
                        width: 95%;
                    }
                    .heading{
                        font-weight: bold;
                    }
                    .download-pdf{
                        float: right;
                        font-size: 20px;
                        position: relative;
                        top: -5px;

                        button{
                            border: none;
                            background: transparent;
                            outline: none;
                            color: #EC1F26;
                            padding: 0;

                            &:hover{
                                color: #f85d63;
                            }
                        }
                    }
                }
            }
            &:after{
                clear: both;
                content: '';
                display: block;
            }
        }

        .profile-details-panel{
            margin-top: 30px;
            padding: 0 10px;

            .student-projects{

                .projects-row{
                    width: 100%;
                }
                .heading{
                    width: 100%;
                    font-size: 18px;
                    font-weight: bold;
                    background: #f1f1f1;
                    padding: 5px 15px;
                    margin-top: 15px;
                }

                .project-details{
                    padding: 15px 15px;

                    .project-list-row{
                        margin-bottom: 10px;
                        border-bottom: 1px solid #f1f1f1;
                        padding-bottom: 5px;

                        &:last-child{
                            margin-bottom: 0;
                        }

                        .project-name{
                            font-weight: bold;
                            margin-bottom: 5px;
                        }
                        .fa-github{
                            font-size: 16px;
                            margin-right: 5px;
                            color: #6e5494;
                            position: relative;
                            top: 1px;
                        }
                        .project-desc{
                            width: 98%;
                        }
                    }
                }
                .distinction{
                    ul{
                        margin: 15px 0 25px;
                    }
                }
                .certificates-panel{
                    width: 100%;
                    float: left;
                    padding: 15px;

                    .certificate-col{
                        position: relative;
                        height: 100%;
                        margin-bottom: 25px;
                        cursor: pointer;

                        .overlay{
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            color: #fff;
                            padding: 8px 10px;
                            background: rgba(0,0,0,0.5);
                        }

                        &:after, &:before{
                            position:absolute;
                            opacity:0;
                            transition: all 0.5s;
                            -webkit-transition: all 0.5s;
                        }
                        &:after{
                            content:'';
                            width:100%;
                            height:100%;
                            top:0;
                            left:0;
                            background: rgba(0,0,0,0.4);
                        }
                        &:before{
                            content: '';
                        }

                        &:hover:after {
                            opacity: 1;
                            color: #fff;
                        }

                        img{
                            width: 100%;
                            vertical-align: top;
                        }
                    }
                }
                .skillset-details{
                    float: left;
                    width: 100%;
                    padding-bottom: 30px;

                    .skillset-row{
                        padding: 5px 0;

                        .skillset-stage{

                            .stage-box{
                                width: 15px;
                                height: 15px;
                                display: inline-block;
                                position: relative;
                                top: 2px;

                                &:last-child{
                                    margin-right: 10px;
                                }
                                &.orange{
                                    background: orange;
                                    border: 1px solid orange;
                                }
                                &.red{
                                    background: red;
                                    border: 1px solid red;
                                }
                                &.green{
                                    background: green;
                                    border: 1px solid green;
                                }
                                &.blank{
                                    background: #fff;
                                    border: 1px solid #ddd;
                                }
                            }
                        }
                    }
                }
            }
            .right-panel{

                .panel-heading{

                    img{
                        height: 30px;
                        margin-right: 10px;
                    }
                    .box-title{
                        position: relative;
                        top: 3px;
                    }
                    .fa{
                        font-size: 27px;
                        margin-right: 10px;
                        margin-top: 2px;
                    }
                }
                .panel-body{
                    padding: 0;

                    ul{
                        margin: 0;
                        padding: 0;

                        li{
                            &:nth-child(even) {background: #f6f6f6};
                            list-style: none;
                            float: left;
                            width: 100%;
                            padding: 5px 15px;

                            .stats-h{
                                float: left;
                                width: 75%;
                            }
                            .stats-numbers{
                                float: left;
                                width: 25%;
                                text-align: right;
                                // font-size: 16px;
                                font-weight: bold;
                                // color: #FFC810;

                                .small-h{
                                    font-weight: normal;
                                    font-size: 12px;

                                    .count{
                                        font-weight: bold;
                                    }
                                }
                                .so-badge{
                                    width: 6px;
                                    height: 6px;
                                    display: inline-block;
                                    border-radius: 100%;
                                    position: relative;
                                    top: 7px;
                                    right: 3px;
                                    margin-left: 8px;

                                    &.badge-gold{
                                        background-color: #FFCC01;
                                    }
                                    &.badge-silver{
                                        background-color: #B4B8BC;
                                    }
                                    &.badge-bronze{
                                        background-color: #D1A684;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }//Student's Profile Code Ends
}

.profile-setting{
    margin-top: 90px;

    .profile-ins{
        background: #fff;
        padding: 0;
        border: 1px solid #f2f2f2;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);

        .form-heading{
            margin-bottom: 15px;
            padding: 5px 15px;
            border-bottom: 1px solid #f2f2f2;
        }
    }

    .set-avatar{

        .avatar{
            width: 100px;
            height: 100px;
            border: 1px solid #ccc;
        }

        input[type=file]{
            margin-top: 5px;
            border: 0;
            box-shadow: none;
            padding-left: 0;
        }
    }
    .so-authentication{
        position: relative;
        top: 7px;
        color: #adadad;
    }

}

.quiz-online{
    position: fixed;
    bottom: 20px;
    right: 40px;
    background: #f1f1f1;
    padding: 15px 40px 30px;
    box-shadow: 0px 2px 15px #ddd;
    border: 1px solid #ddd;
    min-width: 200px;
}
//Quiz Test Code
.quiz-test-wrapper{
    width: 900px;
    margin: 10% auto;
    .report-wrap {
        padding: 15px; margin-bottom: 30px;
    }
    .quiz-name{
        margin-bottom: 15px;
    }
    .quiz-test{
        width: 100%;
        // min-height: 350px;
        padding: 25px;
        border: 1px solid #e6e6e6;
        background: #f8f8f8;

        .question{
            margin-bottom: 20px;
        }
    }
    .next-question-btn{
        // margin-top: 25px;
        padding: 15px;
        text-align: center;

        .btn {
            min-width: 120px;
        }
    }
    .question-count{
        margin: 5px 0 0 0;
        float: right;
    }
    .quiz-inner{
        // max-width: 300px;
        display: block;
        border: 1px solid #e6e6e6;
        margin: 15px 0 0 0;
        background: #fff;
        padding: 15px;
        // padding: 15px;

        img{
            // width: 95%;
        }
    }
}

//blog editor
.editor-wrapper{
    top: 111px;

    .editor-details{
        width: 100%;

        .formatting-strip{
            position: fixed;
            right: 250px;
            bottom: 0;
            left: 0;
            background-color: #f8f8f8;
            padding: 20px 50px;
            border-top: 1px solid #e7e7e7;
        }
        .action-btns{
            float: right;
        }
        .signup-medium{
            margin: 15% auto 0;
        }
    }
}

.mce-branding-powered-by{
    display: none;
}

//global style
.modal{
    margin-top: 5%;
    // z-index: 99999;
}
.lesson-incomplete-modal-heading{
    color: #ff0000;
}
.have-a-question{
    position: absolute;
    bottom: 15px;
}
.navbar{
    z-index: 10;
}
.navbar-brand{
    padding-top: 8px;
    padding-left: 5px;
    img{
        height: 32px;
    }
    i {
        position: relative;
        opacity: 0;
        top:-27px;
        margin: 0;
        transition: all 250ms ease;
        display: inline-block;
        left: 100%;
        margin-left: -8px;
    }
    &:hover i {
        margin-left: 2px;
        opacity: 1;
    }
}

//panels

// .panel{
//     border: 0;

//     .panel-heading{
//         background-color: transparent;
//         border: 0;
//         padding: 10px 0;

//         .panel-title{
//             text-transform: uppercase;
//             font-size: 13px;
//             font-weight: bold;
//             color: rgba(100,100,100,.72);
//             letter-spacing: .04rem;
//         }
//         &:after{
//             clear: both;
//             display: block;
//             content: '';
//         }
//     }
//     .panel-body{
//         border: 1px solid #d8e2e7;
//     }
// }
.so-img{
    float: left;
    margin-top: -11px;
    margin-right: 10px;
}


    @-webkit-keyframes placeHolderShimmer {
      0% {
        background-position: -468px 0
      }
      100% {
        background-position: 468px 0
      }
    }

    @keyframes placeHolderShimmer {
      0% {
        background-position: -468px 0
      }
      100% {
        background-position: 468px 0
      }
    }

    .timeline-wrapper {
      // background-color: #e9eaed;
      // color: #141823;
      // padding: 20px;
      // border: 1px solid #ccc;
    }

    .timeline-item {
      background: #fff;
      // border: 1px solid;
      border-color: #e5e6e9 #dfe0e4 #d0d1d5;
      border-radius: 3px;
      padding: 12px;
      margin: 0 auto;
      max-width: 472px;
      min-height: 200px;
    }

    .animated-background {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: placeHolderShimmer;
      animation-name: placeHolderShimmer;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      background: #f6f7f8;
      background: #eeeeee;
      background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
      background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
      -webkit-background-size: 800px 104px;
      background-size: 800px 104px;
      height: 96px;
      position: relative;
    }

    .background-masker {
      background: #fff;
      position: absolute;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    .outlined .background-masker {
      border: 1px solid #ddd;
    }

    .outlined:hover .background-masker {
      border: none;
    }

    .outlined:hover .background-masker:hover {
      border: 1px solid #ccc;
      z-index: 1;
    }

    .background-masker.header-top,
    .background-masker.header-bottom,
    .background-masker.subheader-bottom {
      top: 0;
      left: 40px;
      right: 0;
      height: 10px;
    }

    .background-masker.header-left,
    .background-masker.subheader-left,
    .background-masker.header-right,
    .background-masker.subheader-right {
      top: 10px;
      left: 40px;
      height: 8px;
      width: 10px;
    }

    .background-masker.header-bottom {
      top: 18px;
      height: 6px;
    }

    .background-masker.subheader-left,
    .background-masker.subheader-right {
      top: 24px;
      height: 6px;
    }

    .background-masker.header-right,
    .background-masker.subheader-right {
      width: auto;
      left: 300px;
      right: 0;
    }

    .background-masker.subheader-right {
      // left: 230px;
      left: 300px;
    }

    .background-masker.subheader-bottom {
      top: 30px;
      height: 10px;
    }

    .background-masker.content-top,
    .background-masker.content-second-line,
    .background-masker.content-third-line,
    .background-masker.content-second-end,
    .background-masker.content-third-end,
    .background-masker.content-first-end {
      top: 40px;
      left: 0;
      right: 0;
      height: 6px;
    }

    .background-masker.content-top {
      height: 20px;
    }

    .background-masker.content-first-end,
    .background-masker.content-second-end,
    .background-masker.content-third-end {
      width: auto;
      left: 380px;
      right: 0;
      top: 60px;
      height: 8px;
    }

    .background-masker.content-second-line {
      top: 68px;
    }

    .background-masker.content-second-end {
      left: 420px;
      top: 74px;
    }

    .background-masker.content-third-line {
      top: 82px;
    }

    .background-masker.content-third-end {
      left: 300px;
      top: 88px;
    }

.no-data-box {
    background: #f9f9f9;
    height: 100%;
    min-height: 270px;
    display: table;
    width: 100%;
    border: none;
    text-align: center;

    .content {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        font-size: 12px;
        padding: 0 30px;
        color: #6c7a86;

        .title {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 5px;
        }
    }

    i {
        font-size: 22px;
        margin-bottom: 8px;
    }
}

.page-error-box {
    background: #fff;
    border: 1px solid #d8e2e7;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px 30px 55px;
    text-align: center;
    margin: 10% auto 0;
    width: 100%;
    max-width: 475px;
    color: #919fa9;
    line-height: 1;

    .error-code {
        font-size: 88px;
        font-weight: 600;
    }
    .error-title {
        font-size: 24px;
        font-weight: 600;
        margin: 10px 0 20px;
    }
}

.cl-show-hide {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    .cl-toggle {
        position: absolute;
        width: 360px;
        right: 0;

        .input-group-addon {
            cursor: pointer;

            button {
                border: 0;
                background: 0;
                padding: 0;
                margin: 0;
            }
        }
    }
}


#snackbar {
    visibility: hidden;
    min-width: 250px;
    // margin-left: -125px;
    // background-color: #333;
    // color: #fff;
    // text-align: center;
    // border-radius: 2px;
    // padding: 16px;
    position: fixed;
    z-index: 1;
    // font-size: 17px;
}
.bottom-right-snackbar {
    right: 35px;
    bottom: 30px;
    &.show {
        visibility: visible !important;
        -webkit-animation: brfadein 0.5s, brfadeout 0.5s 2.5s;
        animation: brfadein 0.5s, brfadeout 0.5s 2.5s;
    }
    @-webkit-keyframes brfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
    }

    @keyframes brfadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes brfadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes brfadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
}
.bottom-left-snackbar {
    left: 35px;
    bottom: 30px;
    &.show {
        visibility: visible !important;
        -webkit-animation: blfadein 0.5s, blfadeout 0.5s 2.5s;
        animation: blfadein 0.5s, blfadeout 0.5s 2.5s;
    }
    @-webkit-keyframes blfadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
    }

    @keyframes blfadein {
        from {bottom: 0; opacity: 0;}
        to {bottom: 30px; opacity: 1;}
    }

    @-webkit-keyframes blfadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }

    @keyframes blfadeout {
        from {bottom: 30px; opacity: 1;}
        to {bottom: 0; opacity: 0;}
    }
}

.top-left-snackbar {
    left: 35px;
    top: 60px;
    &.show {
        visibility: visible !important;
        -webkit-animation: tlfadein 0.5s, tlfadeout 0.5s 2.5s;
        animation: tlfadein 0.5s, tlfadeout 0.5s 2.5s;
    }
    @-webkit-keyframes tlfadein {
    from {top: 0; opacity: 0;}
    to {top: 60px; opacity: 1;}
    }

    @keyframes tlfadein {
        from {top: 0; opacity: 0;}
        to {top: 60px; opacity: 1;}
    }

    @-webkit-keyframes tlfadeout {
        from {top: 60px; opacity: 1;}
        to {top: 0; opacity: 0;}
    }

    @keyframes tlfadeout {
        from {top: 60px; opacity: 1;}
        to {top: 0; opacity: 0;}
    }
}

.student-status{
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                background: #f1f1f1;
                padding: 10px 12px;
                border-top: 1px solid #e1e1e1;
                border-bottom: 1px solid #e1e1e1;

                select{
                    height: 22px;
                }

                p{
                    padding: 0 15px;
                    font-weight: bold;
                }

                &:after{
                    clear: both;
                    display: block;
                    content: "";
                }
            }

            .no-assignment-data{
                width: 100%;
                margin-top: 230px;
                text-align: center;
                font-size: 20px;
                color: #666;
            }
            .student-status-table{
                margin-top: 130px;
                width: 100%;
                  // background-color: #f3f3f3;
                  .table-fixed{
                    tbody {
                        display:block;
                        height:300px;
                        overflow:auto;
                    }
                    thead, tbody tr {
                        display:table;
                        width:100%;
                        table-layout:fixed;
                    }
                    thead {
                        width: calc( 100% - 1em );
                        border-bottom: 1px solid #ddd;

                        th{
                            border: 0;
                            // background: #f1f1f1;
                        }
                    }
                  }
            }
            .student-assignment-status{
                margin-top: 60px;

                table, .table{
                    width: 70%;
                    margin: 0 auto;

                    thead{
                        background: #f1f1f1;
                    }
                }
            }

.top-right-snackbar {
    right: 35px;
    top: 60px;
    &.show {
        visibility: visible !important;
        -webkit-animation: trfadein 0.5s, trfadeout 0.5s 2.5s;
        animation: trfadein 0.5s, trfadeout 0.5s 2.5s;
    }
    @-webkit-keyframes trfadein {
    from {top: 0; opacity: 0;}
    to {top: 60px; opacity: 1;}
    }

    @keyframes trfadein {
        from {top: 0; opacity: 0;}
        to {top: 60px; opacity: 1;}
    }

    @-webkit-keyframes trfadeout {
        from {top: 60px; opacity: 1;}
        to {top: 0; opacity: 0;}
    }

    @keyframes trfadeout {
        from {top: 60px; opacity: 1;}
        to {top: 0; opacity: 0;}
    }
}


/* The element to hover over */
.qs {
  // background-color: #02bdda;
  // border-radius: 16px;
  // color: #e3fbff;
  // cursor: default;
  display: inline-block;
  // font-family: 'Helvetica',sans-serif;
  // font-size: 18px;
  // font-weight: bold;
  height: 30px;
  // line-height: 30px;
  position: relative;
  // text-align: center;
  // width: 30px;

  .popover-profile {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    bottom: 42px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    color: #333;
    display: none;
    left: -50%;
    padding: 7px 10px;
    position: absolute;
    width: 200px;
    z-index: 4;

    &:before {
        border-top: 7px solid rgb(233, 233, 233);
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        bottom: -7px;
        content: '';
        display: block;
        left: 50%;
        margin-left: -7px;
        position: absolute;
      }
  }

  &:hover {
      .popover-profile {
        display: block;
        -webkit-animation: fade-inpopover .3s linear 1, move-uppopover .3s linear 1;
        -moz-animation: fade-inpopover .3s linear 1, move-uppopover .3s linear 1;
        -ms-animation: fade-inpopover .3s linear 1, move-uppopover .3s linear 1;
      }
    }
}

#add-student{
    input[type=checkbox], input[type=radio]{
        margin-top: 12px;
    }
}
.table>tbody>tr>td{
    vertical-align: middle;
}

.non-registered-member{
    margin: 20% auto 0;
    // font-size: 20px;
    text-align: center;

    h4{
        line-height: 26px;
    }
}

@-webkit-keyframes fade-inpopover {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-inpopover {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fade-inpopover {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes move-uppopover {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-moz-keyframes move-uppopover {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}
@-ms-keyframes move-uppopover {
    from   { bottom: 30px; }
    to { bottom: 42px; }
}



//Loader
.loader-txt {
  font-size: 30px;
  text-align: center;
  margin-top: 25%;

  span {
      font-size: 50px;
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;

        &:nth-child(2) {
          animation-delay: .2s;
        }
        &:nth-child(3) {
          animation-delay: .4s;
        }
    }

    @keyframes blink {
      0% {
        opacity: .2;
      }
      20% {
        opacity: 1;
      }
      100% {
        opacity: .2;
      }
    }
}