@gray-light:           lighten(@gray-base, 80%); // #ccc

@media only screen and (max-width: 640px){
	.top-expand-menu {
	    width: 100%;
	}
}
.top-expand-menu {
    display: none;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 480px;
    border-right: 1px solid #efefef;
    overflow-y: scroll;

    // >.list-group-item {
    // 	padding: 0;
    // 	border: 0;
    // }
    ul {
    	margin-bottom: 0
    }

    .gacollapse-expand {
    	position: absolute;
    	right: 75px;
    	top:15px;
    	color:@gray-light;
	    font-size: @font-size-large;
	    transform: rotate(-180deg);

    }
    a .gacomplete-chapt{
    	position: absolute;
    	color:@gray-light;
	    border: 2px solid @gray-light;
	    border-radius: 50%;
	    font-size: 0.8rem;
	    padding: 1px;
	    overflow: hidden;
	    width: 14px;
	    height: 14px;
	    text-indent: 100px;
	    background-color: transparent;
	   
    }
     a.completed .gacomplete-chapt {
    	color: @btn-default-bg;
    	background-color: @brand-success;
    	border-color: @brand-success;
    	text-indent: 0;
    }
    a.active .gacomplete-chapt {
    	color: @btn-default-bg;
    	border-color: @brand-success;
    }

    &.dropdown-menu>li {
    	>a{
		    padding: 15px 96px 15px 90px;
		    text-decoration: none;
		    position: relative;

		    &:hover, &:focus {
		    	background: none;
		    }

	    	&.collapsed .gacollapse-expand{
			     transform: rotate(0);
	    	}

	    	.gacollapse-expand {
			    transform-origin: 50% 50%;
			    transition: all 0.2s;
		    }
		    .gacomplete-chapt{
		    	left: 70px;
		    	top: 18px;
		    }
    	}
    	>ul>li {
			padding: 0;
			border: 0;
			margin: 0;
		    background: #f8f8f8;
    		>a {
    			padding: 15px 96px 15px 110px;
			    text-decoration: none;
			    position: relative;
			    display: block;

			    &:hover, &:focus {
			    	background: none;
			    }

		    	&.collapsed .gacollapse-expand{
				     transform: rotate(0);
		    	}

		    	.gacollapse-expand {
				    transform-origin: 50% 50%;
				    transition: all 0.2s;
				    transform: rotate(-180deg);
			    }
			    .gacomplete-chapt{
			    	left: 90px;
			    	top: 18px;
			    }
    		}

    		>ul>li {
				padding: 0;
				border: 0;
				margin: 0;
			    background: #eee;

			    &:last-child >a:after {
			    	display: none;
			    }
	    		>a {
	    			padding: 15px 96px 15px 130px;
				    text-decoration: none;
				    position: relative;
				    display: block;

				    &:after {
				    	position: absolute;
					    height: 1px;
					    left: 130px;
					    right: 95px;
					    content: '';
					    background: @gray-light;
					    bottom: 0;
				    }

				    &:hover, &:focus {
				    	background: none;
				    }
				    &:hover .label-text, &:focus .label-text{
				    	opacity: 0.5;
				    }
			    	&.collapsed .gacollapse-expand{
					     transform: rotate(-180deg);
			    	}
			    	.gacollapse-expand {
					    transform-origin: 50% 50%;
					    transition: all 0.2s;
				    }
				    .gacomplete-chapt{
				    	left: 110px;
				    	top: 20px;
				    	width: 10px;
				    	height: 10px;
				    	background-color: @gray-light;
				    	border-color: @gray-light;
				    	text-indent: 100px; 
				    }
			    	 &.completed .gacomplete-chapt {
				    	color: @btn-default-bg;
				    	background-color: @brand-success;
				    	border-color: @brand-success;
				    }
	    		}
	    	}
    	}
    }
}