@media print {
	.student-details{
		// position: absolute;
		// bottom: 0;

		.social-profile{
			position: absolute;
			bottom: -160px;
			left: -158px;
			font-size: 12px;
			font-weight: normal;

			.fa{
				font-size: 2cm;
			}
			a{
				display: block;
			}
		}
	}
	.student-profile{ 
		.profile-details-panel{
			position: absolute;
			top: 200px;
			// float: left;
		}
	}
	.download-pdf{
		display: none;
	}
}