<div class="course-content">
			<div class="col-sm-12">
				<div class="inner">
			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Objectives
			    	</h4>
			    	<ul>
			    		<li>Explain what an array is and why we use it</li>
			    		<li>Create an array</li>
			    		<li>Add an element to an array</li>
			    		<li>Access an element in an array</li>
			    		<li>Delete an element from an array</li>
			    	</ul>

			    	<table><!-- react-text: 1831 -->
<!-- /react-text --><thead><!-- react-text: 1833 -->
<!-- /react-text --><tr><!-- react-text: 1835 -->
<!-- /react-text --><th></th><!-- react-text: 1837 -->
<!-- /react-text --><th><!-- react-text: 1839 -->Linux<!-- /react-text --></th><!-- react-text: 1840 -->
<!-- /react-text --><th><!-- react-text: 1842 -->Mac<!-- /react-text --></th><!-- react-text: 1843 -->
<!-- /react-text --></tr><!-- react-text: 1844 -->
<!-- /react-text --></thead><!-- react-text: 1845 -->
<!-- /react-text --><tbody><!-- react-text: 1847 -->
<!-- /react-text --><tr><!-- react-text: 1849 -->
<!-- /react-text --><td><!-- react-text: 1851 -->64-bit<!-- /react-text --></td><!-- react-text: 1852 -->
<!-- /react-text --><td><a href="https://dev.mysql.com/get/Downloads/MySQLGUITools/mysql-workbench-community-6.3.9-1ubuntu16.04-amd64.deb" target="_blank"><!-- react-text: 1855 -->Ubuntu64<!-- /react-text --></a></td><!-- react-text: 1856 -->
<!-- /react-text --><td><a href="https://dev.mysql.com/get/Downloads/MySQLGUITools/mysql-workbench-community-6.3.9-osx-x86_64.dmg" target="_blank"><!-- react-text: 1859 -->mac64<!-- /react-text --></a></td><!-- react-text: 1860 -->
<!-- /react-text --></tr><!-- react-text: 1861 -->
<!-- /react-text --><tr><!-- react-text: 1863 -->
<!-- /react-text --><td><!-- react-text: 1865 -->32-bit<!-- /react-text --></td><!-- react-text: 1866 -->
<!-- /react-text --><td><a href="https://dev.mysql.com/get/Downloads/MySQLGUITools/mysql-workbench-community-6.3.9-1ubuntu16.04-amd64.deb" target="_blank"><!-- react-text: 1869 -->Ubuntu32<!-- /react-text --></a></td><!-- react-text: 1870 -->
<!-- /react-text --><td></td><!-- react-text: 1872 -->
<!-- /react-text --></tr><!-- react-text: 1873 -->
<!-- /react-text --></tbody><!-- react-text: 1874 -->
<!-- /react-text --></table>

			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Pre-Read
			    	</h4>
			    	<p>
			    		<ul>
			    			<li>Basics of Data Science. <a href="#">Read more...</a></li>
			    			<li>Read about R, Python, Big Data etc. before starting Data Science. <a href="#">Read more...</a></li>
			    		</ul>
			    		
			    	</p>

			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Introduction
			    	</h4>
			    	<p>
			    		This is an admittedly contrived example, but it goes to show that we can't just put everything in a variable and hope to remember what order things should go in. It also shows that sometimes it would be helpful to be able to group like items together.
			    		<br /><br />
						In JavaScript, we can group like items in an object (well, everything in JavaScript is an object — but more on that some other time) called an array. And array is an ordered list of items (called "elements" of the array) separated by commas.
						<kbd>arrays.js</kbd>
			    	</p>
			    	<!-- <p>
			    		<img src="../../assets/img/javascript.jpg" alt="" height="300">
			    	</p> -->

			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Presentation
			    	</h4>
			    	<p>
			    		<iframe src="https://docs.google.com/presentation/d/1HmPBu_BIQT-od09wFUfhPEG01LB4iOnh_SFlhDrqkkE/embed?start=false&loop=false&delayms=3000" frameborder="0" width="400" height="300" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
			    	</p>

			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Video
			    	</h4>
			    	<p>
			    		<iframe width="400" height="300" src="https://www.youtube.com/embed/t0QiPZvxu7w" frameborder="0" allowfullscreen></iframe>
			    	</p>

			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Meaningful Resources
			    	</h4>
			    	<p>
			    		<ul class="resources">
			    			<li>
			    				<a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a>
			    				<p>Here you will get the details of this resource.</p>
			    			</li>
			    			<li>
			    				<a href="https://github.com/" target="_blank">GitHub</a>
			    				<p>Here you will get the details of this resource. Here you will get the details of this resource.</p>
			    			</li>
			    		</ul>
			    	</p>

			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Helpful Tip
			    	</h4>
			    	<p>
			    		For better understanding, read the course carefully and do all the activities mentioned in the course.
			    	</p>

			    	<h4>
			    		<i class="fa fa-angle-double-right" aria-hidden="true"></i> 
			    		Post-Read
			    	</h4>
			    	<p>
			    		<ul>
			    			<li>Read advance course of Analytics <a href="#">Read more...</a></li>
			    			<li>Read about the coding standards in various languages. <a href="#">Read more...</a></li>
			    		</ul>
			    		
			    	</p>
			    </div>
			</div>	
		</div>