<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script>
//Start Toster
function myFunction() {
    var x = document.getElementById("snackbar")
    x.className = x.className + " show";
    setTimeout(function(){ 
    	x.className = x.className.replace("show", ""); 
    }, 3000);
}
//End Toster


	$(function () {
		$(document).on("click", function(event){
	        var $trigger = $("#main-menu-ul");
	        if($trigger !== event.target && !$trigger.has(event.target).length){
				$('#main-menu-li').removeClass('open');
	        }            
	    });
		$('#main-menu-a').click(function (e) {
			$('#main-menu-li').toggleClass('open');
			e.stopPropagation();
		});
	})

</script>
<script type="text/javascript">
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});
</script>

<script type="text/javascript">
	// admin page script code
	$(document).ready(function() {
		$('.display-content').hide();
		$('#stud-status').show();
		$('.sidebar-btns').click(function (e) {
			$('.sidebar-btns').parent().removeClass('active');
			var collapseBtn = $(this).parents('.collapse').prev();
			if (collapseBtn.length) {
				collapseBtn.addClass('active');
			} else {
				collapseBtn = $('#menu-content .collapse-btn');
				collapseBtn.removeClass('active');
				collapseBtn.trigger('click');
			}
			$(this).parent().addClass('active');
			var id = $(this).data('id');
			$('.display-content').hide();
			$('#' + id).show();
		})
	});
</script>

<div class="quiz-online" style="display: none">
	<h4>Quiz</h4>
	<a href="quiz-test.html">Python Basics</a>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
	  Python Quiz
	</button>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Quiz Test</h3>
			</div>
			<div class="modal-body">
				<h4>Python Basic</h4>
				<p>Take this quiz before you do anything. This quiz is mandatory.</p>
				<p>
					<!-- <a href="quiz-test.html">Take this quiz now</a> -->
					<a href="quiz-test.html" class="btn btn-primary">Take this quiz now</a>
				</p>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div> -->
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</body>
</html>