<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="dashboard.html"><img src="../../assets/img/commit-live-logo.png" /><i class="fa fa-home" aria-hidden="true"></i>
</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="main-menu-ul">
        <li class="dropdown" id="main-menu-li">
          <a href="#" id="main-menu-a" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Data Science<span class="caret"></span></a>
          <ul class="dropdown-menu top-expand-menu">
            <!-- start chap 0 -->
            <li>
              <a  href="#" class="completed">
                <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                 <span class="label-text">Pre Work</span>
              </a>
            </li>
            <!-- End chap 0 -->
          <!-- start chap 1 -->
            
            <!-- End chap 1 -->
             <!-- start chap 2 -->
            <li>
              <a data-toggle="collapse" href="#collapse-2-1" class="active">
                <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                 <span class="label-text">Foundation</span>
                <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
              </a>
              <ul id="collapse-2-1" class="list-group panel-collapse collapse">
                <li>
                  <a data-toggle="collapse" href="#collapse2" class="completed">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Introduction To Datascience</span>
                  </a>
                </li>
                <li>
                  <a data-toggle="collapse" href="#collapse2" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Commit.Live</span>
                  </a>
                </li>
                <li>
                  <a data-toggle="collapse" href="#collapse3" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Github</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse3" class="list-group panel-collapse collapse">
                    <li>
                        <a href="#" class="completed">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Introduction to Git Github</span>
                      </a>
                    </li>
                    <li>
                        <a href="#" class="">
                          <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                          <span class="label-text">Setup Git and Github</span>
                      </a>
                    </li>                    
                  </ul>
                </li>
                <li>
                  <a data-toggle="collapse" href="#collapse4" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Tech Basics</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse4" class="list-group panel-collapse collapse">
                    <li>
                      <a class="completed" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Introduction to Techbasics</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Working With Files And Directories</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Download Anaconda and Make It Executable</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Setup Github Token In .profile File</span></a>
                    </li>
                    <li>
                      <a class="completed" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Install Anaconda</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">How Internet Works</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Set Up SSH For GitHub</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Play With Github REST API's</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Download Dataset From Kaggle Using Terminal</span></a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a data-toggle="collapse" href="#collapse5" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Python Basics</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse5" class="list-group panel-collapse collapse">
                    <li>
                      <a class="completed" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Introduction to Python Basic</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Find all the even number between 1 to 100</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Generate Fibonacci sequence up to 10</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Generate a dictionary that contains (i, i*i)</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Find pair sum</span></a>
                    </li>
                    <li>
                      <a class="active" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Calculate the number of letters and digits</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Get array of all prime numbers</span></a>
                    </li>
                    <li>
                      <a class="active" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Get all even numbers starting from 1</span></a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a data-toggle="collapse" href="#collapse6" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">Python Intermediate</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse6" class="list-group panel-collapse collapse">
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Introduction to Python Intermediate</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Remove duplicate from following list</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Find out whether a list is a palindrome</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Given this nest dictionary grab the word "hello"</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Sort Dictionary</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Combinations of letters</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">List Sums</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Count number of strings</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Sort List</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Find Common Member in list</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Flatten a shallow list</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Find the average hwy mpg</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Count word occurance in file</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Manage Saving and Current account for user</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Validate give string is valid email address</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Convert celsius in fahrenheit</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Determine if a string contains unique characters</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Determine if a string is a rotation of another</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Compress a string</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Given two strings, find the single different char</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Find two indices that sum to a specific value</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Blog</span></a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a data-toggle="collapse" href="#collapse7" class="active">
                    <span class="glyphicon glyphicon-ok gacomplete-chapt" aria-hidden="true"></span>
                    <span class="label-text">SQL</span>
                    <span class="glyphicon glyphicon-menu-down gacollapse-expand" aria-hidden="true"></span>
                  </a>
                  <ul id="collapse7" class="list-group panel-collapse collapse">
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Introduction to RDBMS &amp; SQL</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Setup Workbench</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Intro to RDBMS</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">ACID Properties</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Normalization</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Transaction</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">challenges</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Introduction to NoSQL</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Intro to SQL</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Create Database and Tables</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Constraints</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Import Datasets</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Select Statement</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Where clause</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">AND &amp; OR operators</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">distinct Keyword</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">LIKE clause</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">ORDER BY</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">GROUP BY</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">Joins</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">INNER Join</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">FULL Join</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">SELF Join</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">LEFT Join</span></a>
                    </li>
                    <li>
                      <a class="" href="#"><span class="glyphicon glyphicon-ok gacomplete-chapt"></span><span class="label-text">RIGHT Join</span></a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <!-- End chap 2 -->
            
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown icon-text-nav"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i><span class="label label-danger">2</span></a>
            <ul class="dropdown-menu">
              <li><h4>Pending Quiz</h4></li>
              <li><a href="index.html"><i class="fa fa-list" aria-hidden="true"></i><!-- <strong>Quiz:</strong> --> Python Programming (8)</a></li>
              <li><a href="index.html"><i class="fa fa-list" aria-hidden="true"></i><!-- <strong>Quiz:</strong> --> Big Data Visualisation (9)</a></li>
              <li><h4>Current Lesson</h4></li>
              <li><a href="index.html"><i class="fa fa-file-text-o" aria-hidden="true"></i><!-- <strong>Quiz:</strong> --> Python Programming</a></li>
          </ul>
        </li>
        <li class="icon-text-nav"><a href="#"><i class="fa fa-slack" aria-hidden="true"></i> Slack</a></li>
        <li class="dropdown nav-profile-img">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/img/profile-1.jpg" height="32" width="32" alt=""> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="index.html">Login</a></li>
            <li><a href="student-profile.html">My Profile</a></li>
            <li><a href="profile-settings.html">Profile Setting</a></li>
            <li><a href="program-schedule.html">My Schedule</a></li>
            <li><a href="instructor-login.html">Instructor Login</a></li>
            <li><a href="student-assignment-status.html">Assignment Status</a></li>
            <!-- <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li> -->
          </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-right">
        <div class="form-group" style="position: relative">
          <input type="text" class="form-control" placeholder="Search" id="search-box">
          <div id="search-dropdown">
            <ul>
              <li><a href="search-results.html">Javascript library</a></li>
              <li><a href="#">Hoisting</a></li>
              <li><a href="#">Functions Lab</a></li>
              <li><a href="#">Beatles Loops Lab</a></li>
              <li><a href="#">Deli Counter</a></li>
              <li><a href="#">Functions Lab</a></li>
              <li><a href="#">Beatles Loops Lab</a></li>
            </ul>
          </div>
        </div>
        <!- - <button type="submit" class="btn btn-default">Submit</button> - ->
      </form> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <script type="text/javascript" src="../js/vendor.js"></script> -->
<script type="text/javascript">
// $('#search-box').bind('keyup change',function(){
//     if(this.value.length > 0){
//         $('#search-dropdown').show();
//     }
//     else {
//         $('#search-dropdown').hide();
//     }
// });
</script>




