<div class="no-data-box">
	<div class="content">
		<i class="fa fa-exclamation-triangle"></i>
		<div class="title">No Data Found</div>
		Commit.Live will display the data once it is available.
	</div>
</div>